sass:
  body
    margin: 0
    padding: 0
    font-size: 98%
  .float
    float: left
  .text-right
    text-align: right
  .clear
    clear: both
    height: 0 !important
    border: none
  .content-bottom
    display: flex
    -webkit-box-align: end
    -ms-flex-align: end
    align-items: flex-end
  .content-right
    display: flex
    -webkit-box-pack: end
    -ms-flex-pack: end
    justify-content: flex-end
  .card
    display: block
    height: 148mm
    width: 210mm
    margin: 0
    padding: 0
    padding: 10mm
    padding-left: 20mm
    font-size: 4.5mm
    page-break-inside: avoid
    -webkit-print-color-adjust: exact
    border: none
    box-sizing: border-box
    >div
      -webkit-box-align: end
      -ms-flex-align: end
      align-items: flex-end
      box-sizing: border-box
      //border: solid 1px black
      height: 5.4%
      .l, i
        display: inline-block
        padding-top: 1mm
      .l
        width: 12%
      i
        width: 88%
        border-bottom: solid 0.5mm black
    .event_name
      height: 25%
      width: 60%
      font-size: 120%
      font-weight: bold
      margin-left: 20%
      text-align: center
      padding-top: 3mm
    .catalog_number
      font-size: 90%
      height: 25%
      width: 20%
      padding-right: 5mm
      padding-top: 9%
      .l
        width: 100%
      .value
        font-size: 200%
    .sex
      float: left
      width: 17%
      .l
        width: 40%
      i
        width: 60%
    .color
      float: left
      width: 83%
    .date_of_birth
      width: 28%
      .l
        width: 52%
      i
        width: 48%
    .document
      width: 40%
      .l
        width: 38%
      i
        width: 62%
    .show_class
      width: 32%
      .l
        width: 30%
      i
        width: 70%
    .owner
      .l
        width: 20%
      i
        width: 80%
    .description
      padding-top: 2%
      .line
        i
          width: 100%
    .rank
      width: 40%
      .l
        width: 22%
      i
        width: 78%
    .title
      width: 60%
    .expert
      width: 80%
      .l
        width: 17%
      i
        width: 83%
    .date
      width: 20%
      .l
        width: 32%
      i
        width: 68%



- @registrations.each do |reg|
  - dog = reg.dog
  .card
    .event_name.float.content-center
      small
        == @event.club.fullname
      br
      == @event_name
    .catalog_number.float.text-right
      .l № по каталогу:
      .value= reg.catalog_number
    .clear
    .breed
      .l Порода:
      i= dog.breed
    .dog_name
      .l Кличка:
      i= dog.name
    .sex
      .l Пол:
      i= dog.sex_text
    .color
      .l Окрас:
      i= dog.color
    .date_of_birth.float
      .l Дата рожд.:
      i= l dog.date_of_birth
    .document.float
      .l Родословная:
      i= dog.document
    .show_class.float
      .l Класс:
      i= reg.show_class_text
    .clear
    .owner
      .l Владелец, адрес:
      i= dog.owner
    .description
      .line
        i Описание собаки:
      .line
        i &nbsp;
      .line
        i &nbsp;
      .line
        i &nbsp;
      .line
        i &nbsp;
      .line
        i &nbsp;
      .rank.float
        .l Оценка:
        i &nbsp;
      .title.float
        .l Титул:
        i &nbsp;
      .expert.float
        .l Эксперт:
        i &nbsp;
      .date.float
        .l Дата:
        i= l reg.event.starts_on
