sass:
  body
    margin: 0
    padding: 0
  .float
    float: left
  .text-right
    text-align: right
  .clear
    clear: both
    height: 0 !important
    border: none
  .content-bottom
    display: flex
    -webkit-box-align: end
    -ms-flex-align: end
    align-items: flex-end
  .content-right
    display: flex
    -webkit-box-pack: end
    -ms-flex-pack: end
    justify-content: flex-end
  .card_wrapper
    display: block
    height: 200mm
    width: 297mm
    padding-left: 148mm
    box-sizing: border-box
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  .card
    display: block
    height: 210mm
    width: 148mm
    margin: 0
    padding: 10mm
    font-size: 4mm
    page-break-inside: avoid
    -webkit-print-color-adjust: exact
    border: none
    box-sizing: border-box
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    >div
      -webkit-box-align: end
      -ms-flex-align: end
      align-items: flex-end
      box-sizing: border-box
      //border: solid 1px black
      height: 5.4%
      .l, i
        display: inline-block
        padding-top: 1mm
      .l
        width: 12%
      i
        width: 88%
        border-bottom: solid 0.5mm black
    .club
      font-size: 86%
      text-align: center
    .event_name
      font-size: 120%
      font-weight: bold
      text-align: center
      margin:  5mm 0
    .date
      width: 25%
      .l
        width: 35%
      i
        width: 65%
    .place
      width: 75%
      .l
        width: 35%
      i
        width: 65%
    .breed
      .l
        width: 13%
      t-box-sizing: border-box; /* Safari/Chrome, other WebKit */
      -moz-box-sizing: border-box;    /* Firefox, other Gecko */
      box-sizing: border-box;         /* Opera/IE 8+ */i
        width: 87%
    .show_class
      width: 60%
      .l
        width: 17%
      i
        width: 81%
    .sex
      float: left
      width: 40%
      .l
        width: 18%
      i
        width: 82%
    .date_of_birth
      width: 34%
      .l
        width: 50%
      i
        width: 47%
    .color
      width: 66%
      .l
        width: 17%
      i
        width: 83%
    .dog_name
      width: 100%
      .l
        width: 12%
      i
        width: 88%
    .document
      width: 50%
      .l
        width: 38%
      i
        width: 60%
    .catalog_number
      width: 50%
      .l
        width: 45%
      i
        width: 55%
    .owner
      .l
        width: 20%
      i
        width: 80%
    .description
      text-align: center
      padding-top: 2%
      .line
        i
          width: 100%
    .rank
      width: 40%
      .l
        width: 22%
      i
        width: 78%
    .title
      width: 60%
    .expert
      width: 80%
      .l
        width: 17%
      i
        width: 83%



- @registrations.each do |reg|
  - dog = reg.dog
  .card_wrapper
    .card
      .club.content-center
        | ОБЩЕСТВЕННОЕ ОБЪЕДИНЕНИЕ ОХРАНЫ ДОМАШНИХ ЖИВОТНЫХ “БЭСТ”
        br
        small
          | г. Солигорск, тел/факс (8-0174) 27-99-27, +375(33) 634-01-16 
      .event_name.float.content-center
        == @event_name
      .clear
      .date.float
        .l Дата:
        i= l reg.event.starts_on
      .place.float
        .l Место проведения:
        i г. Солигорск
      .clear
      .breed
        .l Порода:
        i= dog.breed
      .show_class.float
        .l Класс:
        i= reg.show_class_text
      .sex
        .l Пол:
        i= dog.sex_text
      .date_of_birth.float
        .l Дата рожд.:
        i= l dog.date_of_birth
      .color.float
        .l Окрас:
        i= dog.color
      .dog_name.float
        .l Кличка:
        i= dog.name
      .clear
      .document.float
        .l Родословная:
        i= dog.document
      .catalog_number.float
        .l № по каталогу:
        i
          | &nbsp;
          = reg.catalog_number
      .clear
      .description
        | ОПИСАНИЕ


  .card_wrapper
    .card
      .club.content-center
        | ОБЩЕСТВЕННОЕ ОБЪЕДИНЕНИЕ ОХРАНЫ ДОМАШНИХ ЖИВОТНЫХ “БЭСТ”
        br
        small
          | г. Солигорск, тел/факс (8-0174) 27-99-27, +375(33) 634-01-16 
      .event_name.float.content-center
        == @event_name
      .clear
      .date.float
        .l Дата:
        i= l reg.event.starts_on
      .place.float
        .l Место проведения:
        i г. Солигорск
      .clear
      .breed
        .l Порода:
        i= dog.breed
      .show_class.float
        .l Класс:
        i= reg.show_class_text
      .sex
        .l Пол:
        i= dog.sex_text
      .date_of_birth.float
        .l Дата рожд.:
        i= l dog.date_of_birth
      .color.float
        .l Окрас:
        i= dog.color
      .dog_name.float
        .l Кличка:
        i= dog.name
      .clear
      .document.float
        .l Родословная:
        i= dog.document
      .catalog_number.float
        .l № по каталогу:
        i
          | &nbsp;
          = reg.catalog_number
      .clear
      .description
        | ОПИСАНИЕ
