sass:
  body
    border: solid 0px #0f0
    width: 320mm
    margin: 0
    padding: 0 5mm 
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box
  .content-bottom
    -webkit-box-align: end
    -ms-flex-align: end
    align-items: flex-end
  .content-right
    -webkit-box-pack: end
    -ms-flex-pack: end
    justify-content: flex-end
  .hidden
    display: none
  .float
    float: left
  .text-right
    text-align: right
  .clear
    clear: both
    height: 0 !important
    border: none
  .content-bottom
    display: flex
    -webkit-box-align: end
    -ms-flex-align: end
    align-items: flex-end
  .content-right
    display: flex
    -webkit-box-pack: end
    -ms-flex-pack: end
    justify-content: flex-end

  .top_line, .bottom_line, .middle_line
    margin: 0 -5mm
    margin-bottom: 5mm
    display: flex
    justify-content: space-between
    .start, .center, .end
      -webkit-box-sizing: border-box
      -moz-box-sizing: border-box
      box-sizing: border-box
      width: 5mm
      height: 5mm
      border: solid 1px #000
    .start
      border-left: none
    .end
      border-right: none


  .top_line, .middle_line
    .start, .end
      border-top: none
  .bottom_line
    margin-top: 5mm
    .start, .end
      border-bottom: none
  .top_line .center, .bottom_line .center
    width: 1px
    border-left: none
  .middle_line
    margin: 5mm -5mm
    .start, .end, .center
      height: 1px
    .center
      border: none

  .top_line .start
    border-top: none
    border-left: none
  .top_line .end
    border-top: none
    border-right: none

  .on_card
    .start, .center, .end
      border: none


  .diplom, .card
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box
    display: inline-block
    width: 145mm
    height: 210mm
    margin: 0 5mm
    padding: 0
    position:relative

  .diplom
    font-size: 5mm
    page-break-inside: avoid
    page-break-after: always
    -webkit-print-color-adjust: exact
    color-adjust: exact
    background-image: url("/diploms/drug.png")
    background-size: cover
    box-sizing: border-box
    div
      -webkit-box-align: end
      -ms-flex-align: end
      align-items: flex-end
      box-sizing: border-box
      // border: solid 1px black
      display: flex
    .title
      height: 33.1%
      float: left
      width: 90%
      padding-left: 5%
      font-size: 180%
    .year
      height: 3.55%
      padding-left: 44%
      font-size: 117%
      font-weight: bold
      float: left
    .catalog_number
      height: 5%
      font-size: 140%
      text-align: right
      padding-left: 25%
      padding-right: 15%
      padding-bottom: 2%
      margin-top: 0.5%
    .event_name
      display: block
      font-weight: bold
      font-size: 90%
      height: 17%
      width: 90%
      text-align: center
      margin-left: 5%
      margin-right: 5%
      padding-top: 20%
    .breed, .dog_name, .show_class, .marks, .titul
      padding-left: 30%
    .breed
      height: 6%
    .dog_name
      height: 5.5%
      width: 93%
    .color
      float: left
      height: 8.5%
      width: 57%
    .sex
      float: left
      height: 5.4%
      width: 43%
      padding-left: 21%
    .show_class
      float: left
      height: 5.4%
      width: 45%
      padding-left: 27%
    .owner
      height: 5.5%
      padding-left: 35%
    .clear
      float: clear
      clear: both
    .expert
      height: 10%
      padding-left: 16%
      padding-right: 6%
    .marks
      float: left
      padding-right: 25%
    .date
      height: 3.2%
      padding-left: 15%
    .line
      display: inline-block
      border-bottom: 1px solid #444
    .document
      display: none !important
      height: 0%
      padding-left: 6%
      padding-right: 6%
      text-align: center
      display: block
  .card
    font-size: 4mm
    page-break-inside: avoid
    -webkit-print-color-adjust: exact
    border: solid 0px red
    box-sizing: border-box
    .card_wrapper
      padding: 10mm
      >div
        -webkit-box-align: end
        -ms-flex-align: end
        align-items: flex-end
        box-sizing: border-box
        border: solid 0px black
        height: 4%
        .l, i
          display: inline-block
          padding-top: 1mm
        .l
          width: 13%
        i
          width: 87%
          border-bottom: solid 0.5mm black
      .event_name
        height: 15%
        width: 100%
        font-size: 120%
        font-weight: bold
        text-align: center
        padding-top: 3mm
      .catalog_number
        font-size: 90%
        height: 10%
        width: 50%
        padding-right: 5mm
        padding-top: 3%
        float: right
        text-align: right
        .l
          width: 100%
        .value
          font-size: 200%
      .breed, .dog_name
        height: 6%
      .sex
        float: left
        width: 17%
        .l
          width: 40%
        i
          width: 60%
      .color
        float: left
        width: 65%
        .l
          width: 15%
        i
          width: 85%
      .date_of_birth
        width: 34%
        .l
          width: 52%
        i
          width: 45%
      .document
        width: 60%
        .l
          width: 33%
        i
          width: 67%
      .show_class
        width: 100%
        .l
          width: 10% 
        i
          width: 90%
      .owner
        .l
          width: 24%
        i
          width: 76%
      .description
        height: 30%
        padding-top: 2%
        .line
          i
            width: 100%
      .rank
        width: 40%
        .l
          width: 28%
        i
          width: 70%
      .title
        width: 60%
        .l
          width: 15%
        i
          width: 85%
      .expert
        width: 76%
        .l
          width: 17%
        i
          width: 81%
      .date
        width: 24%
        .l
          width: 32%
        i
          text-align: center
          width: 68%
- batch_size = 4
- @registrations.each_slice(batch_size) do |regs|
  .top_line
    .start
    .center
    .end
  - regular_regs = [regs[0], regs[1], regs[2], regs[3]]
  - regular_regs.each_with_index do |reg, index|
    - if index == 2
      .middle_line 
        .start
        .center
        .end
    - dog = reg&.dog
    - event = reg&.event
    .diplom
      .title
      .clear
      .event_name
        == @event_name if event
      .year
        b.hidden Береза:
        '
        = event&.starts_on && event.starts_on.year.to_s.last(2)
      .catalog_number
        .hidden
        '
        = reg&.catalog_number
      .clear
      .document
        b= dog&.human_document
      .breed
        b.hidden Порода:
        | &nbsp;
        i= dog&.breed
      .dog_name
        b.hidden Кличка:
        | &nbsp;
        i= dog&.name
      - if false
        .color
          b.hidden Окрас:
          | &nbsp;
          i= dog&.color
      .show_class
        b.hidden Класс:
        | &nbsp;
        i= reg&.show_class_text
      .sex
        b.hidden Пол:
        | &nbsp;
        i= dog&.sex_text
      .clear
      .owner
        b.hidden Владелец:
        | &nbsp;
        i= dog&.owner
      .clear
      .marks
        b.hidden Оценка:
        | &nbsp;
      .titul
        b.hidden Титул:
        | &nbsp;
      .clear
      .expert
        b.hidden Эксперт:
        | &nbsp;
      .date
        b.hidden Дата:
        | &nbsp;
        i= event&.starts_on && l(reg.event.starts_on)
  .bottom_line
    .start
    .center
    .end

  .top_line.on_card
    .start
    .center
    .end

  - mirrored_regs = [regs[1], regs[0], regs[3], regs[2]]
  - mirrored_regs.each_with_index do |reg, index|
    - if index == 2
      .middle_line.on_card
        .start
        .center
        .end
    - dog = reg&.dog
    - event = reg&.event
    .card
      .card_wrapper
        .event_name.float.content-center
          small
            == @event.club.fullname
          br
          == @event_name if event
        .catalog_number.float.text-right
          .l № по каталогу:
          .value= reg&.catalog_number
        .clear
        .breed.content-bottom
          .l Порода:
          i= dog&.breed
        .dog_name.content-bottom
          .l Кличка:
          i= dog&.name
        .date_of_birth.float
          .l Дата рожд.:
          i= dog&.date_of_birth && l(dog.date_of_birth)
        .color
          .l Окрас:
          i= dog&.color
        .description
          .line
            i Описание собаки:
          .line
            i &nbsp;
          .line
            i &nbsp;
          .line
            i &nbsp;
          .line
            i &nbsp;
          .line
            i &nbsp;
          .line
            i &nbsp;
          .line
            i &nbsp;
          .line
            i &nbsp;
        .rank.float.content-bottom
          .l Оценка:
          i &nbsp;
        .title.float.content-bottom
          .l Титул:
          i &nbsp;
        .expert.float.content-bottom
          .l Эксперт:
          i &nbsp;
        .date.float.content-bottom
          .l Дата:
          i= reg&.event&.starts_on && l(reg.event.starts_on)
  .bottom_line.on_card
    .start
    .center
    .end

