sass:
  body
    margin: 0
    padding: 0
  .content-bottom
    -webkit-box-align: end
    -ms-flex-align: end
    align-items: flex-end
  .content-right
    -webkit-box-pack: end
    -ms-flex-pack: end
    justify-content: flex-end
  .diplom
    display: block
    width: 148mm
    height: 209.7mm
    margin: 0
    padding: 0
    font-size: 6mm
    page-break-inside: avoid
    page-break-after: always
    -webkit-print-color-adjust: exact
    color-adjust: exact
    background-image: url("/diploms/diplom4.jpg")
    background-size: cover
    box-sizing: border-box
    div
      -webkit-box-align: end
      -ms-flex-align: end
      align-items: flex-end
      box-sizing: border-box
      // border: solid 1px black
      display: flex
    .catalog_number
      height: 17%
      padding: 0% 5%
      font-size: 150%
      text-align: right
    .event_name
      font-size: 110%
      height: 14.5%
      padding-right: 20%
      padding-left: 7%
    .breed
      height: 28%
      padding-left: 22%
    .dog_name
      height: 5.2%
      padding-left: 22%
    .sex
      float: left
      height: 4.7%
      width: 40%
      padding-left: 15%
    .color
      display: none
      height: 4.7%
      width: 60%
      padding-left: 15%
    .show_class
      height: 4.7%
      padding-left: 8%
    .clear
      float: clear
    .owner
      height: 4.7%
      padding-left: 27%
    .date
      font-size: 80%
      height: 22%
      padding-left: 67%

- @registrations.each do |reg|
  - dog = reg.dog
  .diplom
    .catalog_number.content-right
      = reg.catalog_number
    .event_name
      - # @event_name
    .breed
      i= dog.breed
    .dog_name
      i= dog.name
    .sex
      i= dog.sex_text
    .show_class
      i= reg.show_class_text
    .owner
      i= dog.owner
    .date
      i= l reg.event.starts_on
