sass:
  body
    margin: 0
    padding: 0
  .content-bottom
    -webkit-box-align: end
    -ms-flex-align: end
    align-items: flex-end
  .content-right
    -webkit-box-pack: end
    -ms-flex-pack: end
    justify-content: flex-end
  .hidden
    display: none
  .diplom
    display: block
    width: 148mm
    height: 209.7mm
    margin: 0
    padding: 0
    font-size: 5mm
    page-break-inside: avoid
    page-break-after: always
    -webkit-print-color-adjust: exact
    color-adjust: exact
    // background-image: url("/diploms/saturn.jpg")
    background-size: cover
    box-sizing: border-box
    div
      -webkit-box-align: end
      -ms-flex-align: end
      align-items: flex-end
      box-sizing: border-box
      // border: solid 1px black
      display: flex
    .title
      height: 15.1%
      float: left
      width: 60%
      padding-left: 15%
      font-size: 180%
    .catalog_number
      display: block
      height: 5%
      font-size: 120%
      text-align: right
      padding-left: 5%
      padding-right: 15%
      padding-bottom: 2%
    .event_name
      display: block
      font-weight: bold
      font-size: 110%
      height: 20.5%
      text-align: center
      padding-left: 18%
      padding-right: 5%
      padding-top: 19%
    .breed
      height: 8.1%
      padding-left: 23%
    .dog_name
      height: 7%
      padding-left: 23%
    .color
      float: left
      height: 8.5%
      width: 57%
      padding-left: 23%
    .sex
      float: left
      height: 8.5%
      width: 43%
      padding-left: 11%
    .show_class
      float: left
      height: 8.5%
      width: 45%
      padding-left: 20%
    .owner
      float: left
      height: 8.5%
      width: 55%
      padding-left: 23%
    .clear
      float: clear
      clear: both
    .marks, .titul, .expert
      height: 10%
      padding-left: 16%
      padding-right: 6%
    .marks
      float: left
      padding-right: 25%
    .date
      height: 7.2%
      padding-left: 68%
    .line
      display: inline-block
      border-bottom: 1px solid #444
    .document
      display: none !important
      height: 0%
      padding-left: 6%
      padding-right: 6%
      text-align: center
      display: block

- @registrations.each do |reg|
  - dog = reg.dog
  .diplom
    .title
    .clear
    .event_name
      == @event_name
    .catalog_number
      .hidden
      '
      = reg.catalog_number
    .clear
    .document
      b= dog.document if dog.document =~ /\d/
    .dog_name
      b.hidden Кличка:
      | &nbsp;
      i= dog.name
    .breed
      b.hidden Порода:
      | &nbsp;
      i= dog.breed
    .color
      b.hidden Окрас:
      | &nbsp;
      i= dog.color
    .sex
      b.hidden Пол:
      | &nbsp;
      i= dog.sex_text
    .clear
    .show_class
      b.hidden Класс:
      | &nbsp;
      i= reg.show_class_text
    .owner
      b.hidden Владелец:
      | &nbsp;
      i= dog.owner
    .clear
    .marks
      b.hidden Оценка:
      | &nbsp;
    .titul
      b.hidden Титул:
      | &nbsp;
    .clear
    .expert
      b.hidden Эксперт:
      | &nbsp;
    .date
      b.hidden Дата:
      | &nbsp;
      i= l reg.event.starts_on
