sass:
  body
    margin: 0
    padding: 0
  .content-bottom
    -webkit-box-align: end
    -ms-flex-align: end
    align-items: flex-end
  .content-right
    -webkit-box-pack: end
    -ms-flex-pack: end
    justify-content: flex-end
  .diplom
    display: block
    width: 148mm
    height: 209.7mm
    margin: 0
    padding: 0
    font-size: 6mm
    page-break-inside: avoid
    page-break-after: always
    -webkit-print-color-adjust: exact
    color-adjust: exact
    background-image: url("/diploms/diplom3.jpg")
    background-size: cover
    box-sizing: border-box
    div
      -webkit-box-align: end
      -ms-flex-align: end
      align-items: flex-end
      box-sizing: border-box
      // border: solid 1px black
      display: flex
    .title
      height: 33%
      float: left
      width: 60%
      padding-left: 5%
      font-size: 180%
    .catalog_number
      height: 33%
      padding: 0% 5%
      font-size: 150%
      text-align: right
      float: left
      width: 40%
      small
        font-size: 60%
        padding-bottom: 3%
    .event_name
      font-weight: bold
      font-size: 110%
      height: 24.5%
      text-align: center
      padding-left: 5%
      padding-right: 5%
    .breed
      height: 6.7%
      padding-left: 6%
    .dog_name
      height: 5.3%
      padding-left: 6%
    .sex
      float: left
      height: 5.3%
      width: 40%
      padding-left: 6%
    .color
      height: 6.2%
      width: 60%
      padding-left: 15%
    .show_class
      height: 5.3%
      padding-left: 2%
    .clear
      float: clear
      clear: both
    .owner, .mark, .titul, .expert
      height: 5.3%
      padding-left: 6%
    .date
      height: 5.3%
      padding-left: 6%
      float: left
    .line
      display: inline-block
      border-bottom: 1px solid #444

- @registrations.each do |reg|
  - dog = reg.dog
  .diplom
    .title
      | Диплом
    .catalog_number.content-right
      small Кат№:
      | &nbsp;
      = reg.catalog_number
    .clear
    .event_name
      == @event_name
    .breed
      b Порода:
      | &nbsp;
      i= dog.breed
    .dog_name
      b Кличка:
      | &nbsp;
      i= dog.name
    .sex
      b Пол:
      | &nbsp;
      i= dog.sex_text
    .show_class
      b Класс:
      | &nbsp;
      i= reg.show_class_text
    .owner
      b Владелец:
      | &nbsp;
      i= dog.owner
    .mark
      b Оценка:
      | &nbsp;
    .titul
      b Титул:
      | &nbsp;
    .date
      b Дата:
      | &nbsp;
      i= l reg.event.starts_on
    .expert
      b Эксперт:
      | &nbsp;
