sass:
  body
    margin: 0
    padding: 0
  .content-bottom
    -webkit-box-align: end
    -ms-flex-align: end
    align-items: flex-end
  .content-right
    -webkit-box-pack: end
    -ms-flex-pack: end
    justify-content: flex-end
  .diplom
    display: block
    width: 148mm
    height: 209.7mm
    margin: 0
    padding: 0
    font-size: 5mm
    page-break-inside: avoid
    page-break-after: always
    -webkit-print-color-adjust: exact
    color-adjust: exact
    background-size: cover
    box-sizing: border-box
    div
      -webkit-box-align: end
      -ms-flex-align: end
      align-items: flex-end
      box-sizing: border-box
      // border: solid 1px black
      display: flex
    .title
      height: 27%
      float: left
      width: 60%
      padding-left: 5%
      font-size: 180%
    .catalog_number
      display: block
      height: 5%
      font-size: 120%
      text-align: center
      padding-left: 5%
      padding-right: 5%
    .event_name
      display: block
      font-weight: bold
      font-size: 110%
      height: 20.5%
      text-align: center
      padding-left: 5%
      padding-right: 5%
      padding-top: 20%
    .breed
      height: 6.5%
      padding-left: 6%
    .dog_name
      height: 5.3%
      padding-left: 6%
    .sex
      float: left
      height: 5.3%
      width: 40%
      padding-left: 6%
    .color
      height: 6.2%
      width: 60%
      padding-left: 15%
    .show_class
      height: 5.3%
      padding-left: 2%
    .clear
      float: clear
      clear: both
    .owner, .marks, .titul, .expert
      height: 5.3%
      padding-left: 6%
      padding-right: 6%
    .marks
      float: left
      padding-right: 25%
    .date
      height: 5.3%
      padding-left: 6%
    .line
      display: inline-block
      border-bottom: 1px solid #444
    .document
      height: 3%
      padding-left: 6%
      padding-right: 6%
      text-align: center
      display: block

- @registrations.each do |reg|
  - dog = reg.dog
  .diplom
    .title
    .clear
    .event_name
      == @event_name
    .catalog_number
      | Номер по каталогу:
      '
      = reg.catalog_number
    .clear
    .document
      b= dog.document if dog.document =~ /\d/
    .breed
      b Порода:
      | &nbsp;
      i= dog.breed
    .dog_name
      b Кличка:
      | &nbsp;
      i= dog.name
    .sex
      b Пол:
      | &nbsp;
      i= dog.sex_text
    .show_class
      b Класс:
      | &nbsp;
      i= reg.show_class_text
    .owner
      b Владелец:
      | &nbsp;
      i= dog.owner
    .marks
      b Оценка:
      | &nbsp;
    .titul
      b Титул:
      | &nbsp;
    .clear
    .expert
      b Эксперт:
      | &nbsp;
    .date
      b Дата:
      | &nbsp;
      i= l reg.event.starts_on
