sass:
  body
    margin: 0
    padding: 0
  .body
    margin-left: 12%
  .content-bottom
    -webkit-box-align: end
    -ms-flex-align: end
    align-items: flex-end
  .content-right
    -webkit-box-pack: end
    -ms-flex-pack: end
    justify-content: flex-end
  .diplom
    display: block
    width: 148mm
    height: 209.7mm
    margin: 0
    padding: 0
    font-size: 5mm
    page-break-inside: avoid
    page-break-after: always
    -webkit-print-color-adjust: exact
    color-adjust: exact
    /* background-image: url("/diploms/diplom46.png") */
    background-size: cover
    box-sizing: border-box
    line-height: 1.3
    div
      -webkit-box-align: end
      -ms-flex-align: end
      align-items: flex-end
      box-sizing: border-box
      //border: solid 1px black
    .event_name
      font-size: 110%
      height: 20%
      text-align: center
      padding-top: 38%
    .catalog_number
    .expert
      padding-top: 1%
    .field
      display: inline-block
      width: 30.2%
      border-bottom: solid 1px black
    .titul
      .field
        width: 33%
    .clear
      float: clear

- @registrations.each do |reg|
  - dog = reg.dog
  .diplom
    .event_name
      - if false
        == @event_name
    .body
      .catalog_number
        b № по каталогу:
        | &nbsp;
        b= reg.catalog_number
      .breed
        b Порода:
        | &nbsp;
        i= dog.breed
      .dog_name
        b Кличка:
        | &nbsp;
        i= dog.name
      .date_of_birth
        b Дата рождения:
        | &nbsp;
        i= l dog.date_of_birth
      .document
        b № родословной:
        | &nbsp;
        i= dog.human_document
      .show_class
        b Класс:
        | &nbsp;
        i= reg.show_class_text
      .sex
        b Пол:
        | &nbsp;
        i= dog.sex_text
      .color
        b Окрас:
        | &nbsp;
        i= dog.color
      .owner
        b Владелец:
        | &nbsp;
        i= dog.owner
      .mark
        b Оценка:
        | &nbsp;
        i.field
      .titul
        b Титул:
        | &nbsp;
        i.field
      .expert
        b Эксперт:
        | &nbsp;
      .secretary
        b Секретарь:
        | &nbsp;
      .date
        - if false
          b Дата:
          | &nbsp;
          i= l reg.event.starts_on
