= render 'layouts/today_events'
.events.pt-5
  .row.row-cols-sm-1.row-cols-md-2.g-2
    - @events.group_by{ |e| [e.club, e.starts_on] }.each do |data, events|
      - club = data.first
      - date = data.last
      .col
        .card.h-100
          .card-body
            h3.fs-5.fw-normal.card-title= l date, format: :human
            h2.fs-4.card-title= club.fullname
            p.card-text
              - club.phones&.each do |phone|
                == link_to phone, "tel: +#{phone.gsub(/\D/, '')}", class: 'me-2'
                '  
            - root_event = events.first
            - if root_event.address.present?
              p.card-text
                == root_event.address
                '
                a href="#" type="button" onclick="navigator.clipboard.writeText('#{root_event.address}'); return(false);"
                  i.bi.bi-clipboard-plus
            - if root_event.location.present?
              p.card-text
                i.bi.bi-geo-alt-fill
                = root_event.location
                '
                a href="#" type="button" onclick="navigator.clipboard.writeText('#{root_event.location}'); return(false);"
                  i.bi.bi-clipboard-plus

          - if root_event.location_map_attachment.present?
            a.map.d-block href=url_for(events.first.location_map) style="height: 200px; background-image: url(#{url_for(events.first.location_map)}); background-size: cover"
          - else
            .map style="height: 200px; background-image: url(#{asset_path('abstract_map')}); background-size: cover"
          .card-body
            - events.each do |event|
              p.card-text
                - hidden = event.catalog_hidden_for_all
                - if hidden 
                  == event.name
                - else
                  = link_to catalog_path(event.id) do
                    == event.name
