sass:
  .catalog
    ol
      padding: 0
      margin-left: 10px
    li
      margin-left: 25px
      padding: 0
    .catalog
      a
        color: black
        text-decoration: none
    h1, h2, h3, h4
      text-align: center
    h1
      padding-top: 25px
    h2
      padding-top: 20px
      padding-bottom: 0px
    h3
      padding-top: 15px
      padding-bottom: 0px
    h4
      font-style: italic
    .sex
      margin-left: -15px
      padding: 5px 0
      float: left
    .show_class
      padding: 5px 0
      float: right
      white-space: nowrap
      text-align: right
    .clear
      clear: both
    .group
      margin-top: 30px
    .dog
      padding: 5px 15px
      .number
        width: 30px
    .nowrap
      white-space: nowrap
    .debug
      opacity: 0.5


.container.catalog.g-0
  - event = @event
  ol.event
    h1== event.name
    .row.sticky-top.bg-white
      .col-md-6.col-lg-8
      .col-md-6.col-lg-4
        = react_component 'CatalogSearch', options: @search_array, label: 'Поиск'
    .groups
      - if event.universal?
        = render partial: '/shared/catalogs/group', collection: @gen.groups, locals: { event: event }
      - elsif event.mono?
        = render partial: '/shared/catalogs/breed', collection: @gen.sorted_exists_event_breeds,
          locals: { event: event }
