= simple_form_for @dog, html: { class: "form form-horizontal dog" } do |f|
  .form-group
    = f.label :name, class: 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :name, class: 'form-control'
    = f.error_span(:name)

  .form-group
    = f.label :breed, class: 'control-label col-lg-2'
    .col-lg-10
      = f.input :breed, as: :autocomplete,
        source_query: autocomplete_title_breeds_url,
        class: 'form-control',
        label: false
    = f.error_span(:breed)
  .form-group
    = f.label :breed_str, class: 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :breed_str, class: 'form-control', disabled: true
    = f.error_span(:breed_str)

  .form-group
    = f.label :hair_type, class: 'control-label col-lg-2'
    .col-lg-10
      = f.input :hair_type_id,
        collection: @dog.breed_obj&.human_prop_and_ids(:hair_types, id_first: false),
        input_html: { class: 'form-control' },
        label: false
    = f.error_span(:hair_type)
  .form-group
    = f.label :color, class: 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :color_str, class: 'form-control', disabled: true
  .form-group
    = f.label :color, class: 'control-label col-lg-2'
    .col-lg-10
      - if @dog.breed_obj&.human_prop_and_ids(:colors, id_first: false)&.present?
        = f.input :color_id,
          collection: @dog.breed_obj&.human_prop_and_ids(:colors, id_first: false),
          input_html: { class: 'form-control' },
          label: false
      - else
        = f.input :color, as: :autocomplete,
          source_query: autocomplete_colors_breeds_url,
          class: 'form-control',
          label: false
    = f.error_span(:color)
  .form-group
    = f.label :sex, class: 'control-label col-lg-2'
    .col-lg-10
      = f.input :sex, collection: Dog.sex.options, label: false, input_html: { class: 'form-control' }
    = f.error_span(:sex)
  .form-group
    = f.label :document, class: 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :document, class: 'form-control'
    = f.error_span(:document)
  .form-group
    = f.label :date_of_birth, class: 'control-label col-lg-2'
    .col-lg-10
      = f.input :date_of_birth, as: :date,
        class: 'form-control',
        label: false,
        start_year: Date.today.year - 20,
        end_year: Date.today.year

    = f.error_span(:date_of_birth)
  .form-group
    = f.label :breeder, class: 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :breeder, class: 'form-control'
    = f.error_span(:breeder)
  .form-group
    = f.label :owner, class: 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :owner, class: 'form-control'
    = f.error_span(:owner)
  .form-group
    = f.label :father_name, class: 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :father_name, class: 'form-control'
    = f.error_span(:father_name)
  .form-group
    = f.label :mother_name, class: 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :mother_name, class: 'form-control'
    = f.error_span(:mother_name)
  .form-group
    .col-lg-offset-2.col-lg-10
      = f.submit nil, class: 'btn btn-primary'
      '
      = link_to t('.cancel', :default => t("helpers.links.cancel")), dogs_path, class: 'btn'
      = link_to 'SHOW', @dog
