- model_class = Dog
.page-header
  h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
.reatc-app
  = react_component('DogsList')
- if false
  table.table.table-striped
    thead
      tr
        th= model_class.human_attribute_name(:breed)
        th= model_class.human_attribute_name(:name)
        th= model_class.human_attribute_name(:color)
        th= model_class.human_attribute_name(:sex)
        th= model_class.human_attribute_name(:breeder)
        th= model_class.human_attribute_name(:owner)
        th=t '.actions', :default => t("helpers.actions")
    tbody
      - @dogs.each do |dog|
        tr
          td
            = dog.breed_str
            = simple_form_for dog, html: { class: 'form-inline' } do |f|
              .form-row style="display: inline-block"
                = f.input :breed_id, as: :hidden, input_html: { id: "dog_#{dog.id}_breed_id" }, label: false
                = f.input :breed, as: :autocomplete,
                  source_query: autocomplete_title_breeds_url,
                  input_html: { data: { 'field-id': "dog_#{dog.id}_breed_id" }, id: "dog_#{dog.id}" },
                  field_id: false,
                  class: 'form-control',
                  label: false
              = button_tag class: 'form-control' do
                = fa_icon :save


          td title="#{dog.document}" = link_to dog.name, dog_path(dog)
          td= dog.color_str
          td= dog.sex
          td= dog.breeder
          td= dog.owner
          td
            = link_to edit_dog_path(dog), :class => 'btn btn-default btn-xs' do
              = fa_icon :edit
            '
            = link_to dog_path(dog), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger' do
              = fa_icon :trash

  = link_to t('.new', :default => t("helpers.links.new")), new_dog_path, :class => 'btn btn-primary'
