- model_class = Dog
.page-header
  h1=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize
= react_component('Dog', { name: 'Бобик' })
- # render :partial => "form"
