= form_for [:admin, @event], multipart: true,
    html: { class: "form form-horizontal event" } do |f|
  .form-group
    = f.label :club, :class => 'control-label col-lg-2'
    .col-lg-10
      = f.select :club_id, current_user.adminable_clubs.map { |i| [i.name, i.id] }, class: 'form-control'
    = f.error_span(:rank)
  .form-group
    = f.label :name, :class => 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :name, :class => 'form-control'
    = f.error_span(:name)
  .form-group
    = f.label :short_name, :class => 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :short_name, :class => 'form-control'
    = f.error_span(:short_name)
  .form-group
    = f.label :starts_on, :class => 'control-label col-lg-2'
    .col-lg-10
      = f.date_field :starts_on, :class => 'form-control'
    = f.error_span(:starts_on)
  .form-group
    = f.label :rank, :class => 'control-label col-lg-2'
    .col-lg-10
      = f.select :rank, Event.rank.values, class: 'form-control'
    = f.error_span(:rank)
  .form-group
    = f.label :subject, :class => 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :subject, :class => 'form-control'
    = f.error_span(:subject)
  .form-group
    = f.label :catalog_published_at, :class => 'control-label col-lg-2'
    .col-lg-10
      = f.datetime_local_field :catalog_published_at, :class => 'form-control'
    = f.error_span(:catalog_published_at)
  .form-group
    = f.label :registration_closed_at, :class => 'control-label col-lg-2'
    .col-lg-10
      = f.datetime_local_field :registration_closed_at, :class => 'form-control'
    = f.error_span(:registration_closed_at)
  .form-group
    = f.label :address, class: 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :address, class: 'form-control'
    = f.error_span(:address)
  .form-group
    = f.label :location, class: 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :location, class: 'form-control'
    = f.error_span(:location)
  .form-group
    = f.label :location_map, class: 'control-label col-lg-2'
    .col-lg-10
      = f.file_field :location_map, class: 'form-control'
    = f.error_span(:location_map)

  .form-group
    = f.label :prices, :class => 'control-label col-lg-2'
    .col-lg-10
      = react_component 'Event/Prices', prices: @event.prices || {}, default_date: @event.starts_on, show_classes: @event.show_classes
    = f.error_span(:prices)
    br
  .form-group
    .col-lg-offset-2.col-lg-10
      = f.submit nil, :class => 'btn btn-primary'
      = f.submit t('save_and_copy'), :class => 'btn btn-primary', name: :copy
      '
      = link_to t('.cancel', :default => t("helpers.links.cancel")), admin_events_path, :class => 'btn'
