- model_class = Event
.d-flex.justify-content-between.align-items-start
  h1=t '.title'
  = link_to t('.new', :default => t("helpers.links.new")), new_admin_event_path, :class => 'btn btn-primary'
table.table.table-striped.admin_events
  thead
    tr
      th= model_class.human_attribute_name(:starts_on)
      th= model_class.human_attribute_name(:short_name)
      th= model_class.human_attribute_name(:catalog)
      th
  tbody
    - @events.each do |event|
      tr
        td= event.starts_on
        td
          small
            = event.club.name
          div
            strong
              = link_to event.short_name, edit_admin_event_path(event)
        td
          - if event.catalog_status.missing?
            = link_to 'Gen Catalog', gen_catalog_admin_event_path(event), method: :put
          - elsif event.catalog_status.processing?
            | processing
          - elsif event.catalog_status.done?
            - if event.printable_catalog.attached?
              = link_to url_for(event.printable_catalog) do
                | каталог.docx
              | &nbsp;
              = link_to drop_catalog_admin_event_path(event), method: :put do
                i.bi-trash
            - else 
              | Catalog error
            br
            = link_to 'Gen Prices', gen_catalog_admin_event_path(event, prices: true), method: :put
        td.actions.text-center
          - if event.catalog_published?
            = link_to hide_catalog_admin_event_path(event), method: :put do
              i.bi-eye-slash-fill
          - else
            = link_to publish_catalog_admin_event_path(event), method: :put do
              i.bi-eye-fill
          '  
          - if event.registration_closed_at&.future?
            = link_to close_registration_admin_event_path(event), method: :put do
              i.bi-calendar-x.text-danger
          - else
            = link_to reopen_registration_admin_event_path(event), method: :put do
              i.bi-calendar-plus

          - if false
            = link_to t('.edit', :default => t("helpers.links.edit")), edit_event_path(event), :class => 'btn btn-default btn-xs'
            '
            = link_to t('.destroy', :default => t("helpers.links.destroy")), event_path(event), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger'
