- model_class = Event
.page-header
  h1=t '.title', :default => model_class.model_name.human.titleize

p
  strong= model_class.human_attribute_name(:name) + ':'
  br
  == @event.name
p
  strong= model_class.human_attribute_name(:short_name) + ':'
  br
  = @event.short_name
p
  strong= model_class.human_attribute_name(:starts_on) + ':'
  br
  = @event.starts_on
p
  strong= model_class.human_attribute_name(:rank) + ':'
  br
  = @event.rank

= link_to t('.back', :default => t("helpers.links.back")), events_path, :class => 'btn btn-default'
'
= link_to t('.edit', :default => t("helpers.links.edit")), edit_event_path(@event), :class => 'btn btn-default'
'
= link_to t('.destroy', :default => t("helpers.links.destroy")), event_path(@event), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
