.signin.container.bg-white.rounded
  .row.text-center.py-2
    h3.col= t 'devise.sign_up'
  .row.social_buttons.pb-2
    .col.text-center
      = render 'devise/shared/omniauth'
  .row
    .col.or
      hr
      span= t 'or'
  form.pt-2 action="/users" method="POST"
    = hidden_field_tag :authenticity_token, form_authenticity_token

    - if I18n.locale == :ru
      .form-floating.mb-3
        input.form-control type="text" name="user[last_name]" placeholder="#{t 'user.placeholder.last_name'}" value="#{@user.last_name}"
        label= t 'user.placeholder.last_name'
        = form_error @user, :last_name
      .form-floating.mb-3
        input.form-control type="text" name="user[first_name]" placeholder="#{t 'user.placeholder.first_name'}" value="#{@user.first_name}"
        label= t 'user.placeholder.first_name'
        = form_error @user, :first_name
      .form-floating.mb-3
        input.form-control type="text" name="user[second_name]" placeholder="#{t 'user.placeholder.second_name'}" value="#{@user.second_name}"
        label= t 'user.placeholder.second_name'
        = form_error @user, :second_name
    - else
      .form-floating.mb-3
        input.form-control type="text" name="user[first_name]" placeholder="#{t 'user.placeholder.first_name'}" value="#{@user.first_name}"
        label= t 'user.placeholder.first_name'
        = form_error @user, :first_name
      .form-floating.mb-3
        input.form-control type="text" name="user[last_name]" placeholder="#{t 'user.placeholder.last_name'}" value="#{@user.last_name}"
        label= t 'user.placeholder.last_name'
        = form_error @user, :last_name

    .form-floating.mb-3
      input.form-control type="text" name="user[email]" placeholder="#{t 'user.placeholder.email'}" value="#{@user.email}"
      label = t 'user.placeholder.email'
      = form_error @user, :email
    .form-floating.mb-3
      = react_component 'user/PhoneField',
        name: 'user[phone]',
        value: @user.phone,
        label: User.human_attribute_name(:phone)
      = form_error @user, :phone
    .form-floating.mb-3
      input.form-control type="password" name="user[password]" placeholder="#{t 'user.placeholder.password'}"
      label = t 'user.placeholder.password'
      = form_error @user, :password
    .form-floating.mb-3
      input.form-control type="password" name="user[password_confirmation]" placeholder="#{t 'user.placeholder.password_confirmation'}"
      label = t 'user.placeholder.password_confirmation'
      = form_error @user, :password_confirmation

    .form-floating
      input.btn.btn-outline-primary.mx-auto type="submit" value="#{t 'devise.register'}"
  .row
    .col.text-center.my-3
      i= t 'devise.has_account_html', url: signin_path
