- if devise_mapping.omniauthable?
  - resource_class.omniauth_providers.each do |provider|
    = link_to omniauth_authorize_path(resource_name, provider), method: :POST do
      = image_tag "oauth/#{OmniAuth::Utils.camelize(provider)}"
