.card.mb-3
  .card-body.pb-1
    h5.card-title.mb-0
      = link_to edit_dog_path(dog), class: 'dog-title' do
        = dog.name.mb_chars.titleize
    p.card-text = dog.breed.mb_chars.titleize
  - registrations = @registrations[dog.id]
  - if registrations.present?
    ul.list-group.list-group-flush
      = render partial: 'registration', collection: registrations

- if false
  .row.dog.pb-3
    figure.mb-0
      blockquote.blockquote.text-truncate
      figcaption.blockquote-footer.dog-breed.mb-0 = dog.breed
    - if dog.opened_registrations.any?
      .container
        .row
          .col-sm-12.col-md-6.col-lg-4.col-xl-4.dog-registrations
            = render partial: 'registration', collection: dog.opened_registrations
