coffee:
  window.redirectToRegistrationsAfterSaveDog = (dog) =>
    url = "/dogs/" + dog.id + "/registrations"
    console.log(url)
    window.location.href = url

= react_component 'dog/Form/index',
    dog: @dog.persisted? ? DogSerializer.new(@dog).as_json : { name: '' },
    current_user: current_user.attributes.merge(initials: current_user.initials),
    submitButtonTitle: I18n.t(@dog.persisted? ? 'save' : 'next'),
    submitButtonNote: I18n.t("dog.#{@dog.persisted? ? 'and_go_to_events' : 'go_to_events'}"),
    onSave: 'redirectToRegistrationsAfterSaveDog',
    disabled: @dog.registrations.joins(:event).merge(Event.future).where.not(catalog_number: nil).any?
