- event = registration.event
li.list-group-item.d-flex.justify-content-between
  .event
    .fa.fa-trophy
    - if false
      == event.club.name.titleize
    a.ms-2.link-secondary href=event.url
      == event.name
  .details
    span.show-class
      small.text-muted
        = "#{Registration.human_attribute_name :show_class}: "
      = registration.show_class_text.downcase
    - if registration.event.catalog_published_at&.past? 
      - if registration.catalog_number
        = link_to catalog_path(registration.event_id, anchor: "reg#{registration.id}")
          strong.catalog_number.ms-2
            | ##{registration.catalog_number}

- if false
  .row.dog-registration
    .col-6
      span.event-title.link-secondary.text-truncate title=event.starts_on data-bs-toggle="popover" data-bs-content="event.name" data-bs-trigger="hover focus"
        = event.short_name
      a.col-6.event-title.link-secondary href=event.url
        .fa.fa-info
    .col-6.registration.text-end
      small.text-muted
        = "#{Registration.human_attribute_name :show_class}: "
      = registration.show_class_text.downcase
