- model_class = Dog
.page-header.d-flex.justify-content-between
  h1=t '.title'
  .new-dog-link.align-self-center
    = link_to new_dog_path do
      .fas.fa-plus.fa-xs
      |  #{t '.new_dog'}
      - # .fas.fa-dog

.list-options.d-flex.justify-content-end.fst-italic.my-2
  small
    - if params[:show_all]
      = link_to t('.show_active'), dogs_path, id: :show_active
    - else
      = link_to t('.show_past_too'), dogs_path(show_all: true), id: :show_all
.dog-list
= render partial: 'dog', collection: @dogs
