.row
  .col
    = link_to t('.back', :default => t("helpers.links.back")), dogs_path, :class => 'btn btn-default'
.row
  .col-sm-2
    - model_class = Dog
    .page-header
      h1=t '.title', :default => model_class.model_name.human.titleize

    p
      strong= model_class.human_attribute_name(:breed) + ':'
      br
      = @dog.breed
    p
      strong= model_class.human_attribute_name(:breed_str) + ':'
      br
      = @dog.breed_str
    p
      strong= model_class.human_attribute_name(:name) + ':'
      br
      = @dog.name
    p
      strong= model_class.human_attribute_name(:color) + ':'
      br
      = @dog.color
    p
      strong= model_class.human_attribute_name(:sex) + ':'
      br
      = @dog.sex
    p
      strong= model_class.human_attribute_name(:document) + ':'
      br
      = @dog.document
    p
      strong= model_class.human_attribute_name(:date_of_birth) + ':'
      br
      = @dog.date_of_birth
    p
      strong= model_class.human_attribute_name(:breeder) + ':'
      br
      = @dog.breeder
    p
      strong= model_class.human_attribute_name(:owner) + ':'
      br
      = @dog.owner
    p
      strong= model_class.human_attribute_name(:mother_name) + ':'
      br
      = @dog.mother_name
    p
      strong= model_class.human_attribute_name(:father_name) + ':'
      br
      = @dog.father_name

    '
    = link_to t('.edit', :default => t("helpers.links.edit")), edit_dog_path(@dog), :class => 'btn btn-default'
    '
    = link_to t('.destroy', :default => t("helpers.links.destroy")), dog_path(@dog), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'

  .col-sm-7
    .document-preview
    = form_for @dog, remote: true, html: { multipart: true, remote: true} do |f|
      = f.file_field :doc_img, direct_upload: true
      = f.submit

    = react_component('Dog', @dog.attributes)
    - # Event
    - dog = @dog
    .ul.list-group
      - Event.future.each do |event|
        - next if event.subject.present? && (event.subject != dog.breed_obj.group && event.subject != dog.breed_id)
        - registration = Registration.find_by(event_id: event.id, dog_id: dog.id)
        - registration ||= Registration.new(event: event, dog: dog, user: dog.user)
        li.list-group-item.event.p-5
          h2.display-1.text-center== event.name
          = render 'registrations/catalog_item', registration: registration
          br
          br
          br
