.breed id="breed#{breed.to_sym}"
  - if breed.to_sym != event.subject&.to_sym
    h3= breed.catalog_title
    - if false
      img.mx-auto.qr-code src="https://chart.googleapis.com/chart?cht=qr&chs=400x400&choe=UTF-8&chld=H&chl=#{"http://mydog.show/catalogs/#{@event.id}%23breed#{breed.key}"}"

  - if breed.sections_by_hair_type? event
    = render partial: '/shared/catalogs/hair_type', collection: breed.catalog_hair_types_hash,
      locals: { event: event, dogs: @gen.dogs(breed), breed: breed }
  - elsif breed.sections_by_color? event
    = render partial: '/shared/catalogs/color', collection: breed.catalog_colors_hash,
      locals: { event: event, dogs: @gen.dogs(breed), breed: breed }
  - else
    .ring
      = render partial: '/shared/catalogs/sex', collection: @gen.dogs(breed).available_sexes,
        locals: { event: event, dogs: @gen.dogs(breed) }
