- color_group = color.first.downcase
- possible_values = color.last
- dogs = dogs.where(color_id: possible_values)
- if dogs.any?
  h4
    - if I18n.exists? "color_groups.#{color_group}"
      = t("color_groups.#{color_group}").mb_chars.titleize
    - else
      = t("colors.#{color_group}").mb_chars.titleize
  .ring
    = render partial: '/shared/catalogs/sex', collection: dogs.available_sexes,
      locals: { event: event, dogs: dogs }
