- reg = dog.registrations.detect{ |i| i.event_id == @event.id }
.dog.row.clear id="reg#{reg&.id}"
  li value=reg&.catalog_number
    - if false
      .number
        - @number ||= 0
        = "#{@number += 1}."
        - if params[:debug]
          .debug= dog.id
        - else
          br
        br
    .body
      - if @event.show_full_dogs_data? || dog.owner == current_user
        - # || (current_user && (current_user.superadmin? || @event.id.in?(current_user.adminable_event_ids)))
        span
          | #{dog.name.mb_chars.strip.titleize},
        - if dog.color && dog.color.match?('[a-яА-Я a-zA-z]')
          span.nowrap
            |  (#{dog.color.strip}),

        span
          |  #{l dog.date_of_birth},

        - if dog.document.present? && dog.document.match?('[a-яА-Я a-zA-z0-9]')
          span.nowrap
            |  #{dog.document.strip},

        - if dog.chip.present? && dog.chip.match?('[a-яА-Я a-zA-z0-9]')
          span.nowrap
            |  чип: #{dog.chip.strip},

        - if dog.stigma.present? && dog.stigma.match?('[a-яА-Я a-zA-z0-9]')
          span.nowrap
            |  клеймо: #{dog.stigma.strip},
        br
        - if dog.father_name.present? && dog.mother_name.present?
          span
           |  (#{dog.father_name.strip} x #{dog.mother_name.strip}),
        - elsif dog.father_name.present? || dog.mother_name.present?
          span
           |  (#{dog.father_name.strip}#{dog.mother_name.strip}),

        br
        - if dog.breeder.present?
          span
            |  #{t '.breeder_title'}: #{dog.breeder.strip},
        - if dog.owner.present?
          span
            |  #{t '.owner_title'}: #{dog.owner.strip}
      - else
        - if dog.document.present? && dog.document.match?('[a-яА-Я a-zA-z0-9]')
          span.nowrap
              |  #{dog.document.strip},

