- hair_type_group = hair_type.first
- possible_values = hair_type.last
- dogs = dogs.where(hair_type_id: possible_values)
- if dogs.any?
  h4= t("hair_types.#{hair_type_group}").mb_chars.titleize
  - if breed.sections_by_color? event
    = render partial: '/shared/catalogs/color', collection: breed.catalog_colors_hash,
      locals: { event: event, dogs: dogs }
  - else
    .ring
      = render partial: '/shared/catalogs/sex', collection: dogs.available_sexes,
        locals: { event: event, dogs: dogs }
