- dogs = dogs.with_sex sex
- if dogs.any?
  .sex
    i= t "plural_sex.#{sex}"
  = render partial: '/shared/catalogs/show_class',
    collection: Registration.show_class.values | dogs.group(:show_class).pluck(:show_class),
    locals: { dogs: dogs }
