- dogs = dogs.where(registrations: { show_class: show_class }).order :name
- if dogs.any?
  .show_class
    i= t '.label', value: t("enumerize.registration.show_class.#{show_class}").downcase
  = render partial: '/shared/catalogs/dog', collection: dogs
