= form_for @registration, html: { class: "form form-horizontal registration" } do |f|
  .form-group
    = f.label :show_class, :class => 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :show_class, :class => 'form-control'
    = f.error_span(:show_class)
  .form-group
    = f.label :dog_id, :class => 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :dog_id, :class => 'form-control'
    = f.error_span(:dog_id)
  .form-group
    = f.label :event_id, :class => 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :event_id, :class => 'form-control'
    = f.error_span(:event_id)
  .form-group
    = f.label :user_id, :class => 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :user_id, :class => 'form-control'
    = f.error_span(:user_id)
  .form-group
    = f.label :note, :class => 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :note, :class => 'form-control'
    = f.error_span(:note)
  .form-group
    .col-lg-offset-2.col-lg-10
      = f.submit nil, :class => 'btn btn-primary'
      '
      = link_to t('.cancel', :default => t("helpers.links.cancel")), registrations_path, :class => 'btn'
