- model_class = Registration
.page-header
  h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
table.table.table-striped
  thead
    tr
      th= model_class.human_attribute_name(:id)
      th= model_class.human_attribute_name(:show_class)
      th= model_class.human_attribute_name(:dog_id)
      th= model_class.human_attribute_name(:event_id)
      th= model_class.human_attribute_name(:user_id)
      th= model_class.human_attribute_name(:note)
      th= model_class.human_attribute_name(:created_at)
      th=t '.actions', :default => t("helpers.actions")
  tbody
    - @registrations.each do |registration|
      tr
        td= link_to registration.id, registration_path(registration)
        td= registration.show_class
        td= registration.dog_id
        td= registration.event_id
        td= registration.user_id
        td= registration.note
        td=l registration.created_at
        td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_registration_path(registration), :class => 'btn btn-default btn-xs'
          '
          = link_to t('.destroy', :default => t("helpers.links.destroy")), registration_path(registration), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger'

= link_to t('.new', :default => t("helpers.links.new")), new_registration_path, :class => 'btn btn-primary'
