- model_class = Registration
.page-header
  h1=t '.title', :default => model_class.model_name.human.titleize

p
  strong= model_class.human_attribute_name(:show_class) + ':'
  br
  = @registration.show_class
p
  strong= model_class.human_attribute_name(:dog_id) + ':'
  br
  = @registration.dog_id
p
  strong= model_class.human_attribute_name(:event_id) + ':'
  br
  = @registration.event_id
p
  strong= model_class.human_attribute_name(:user_id) + ':'
  br
  = @registration.user_id
p
  strong= model_class.human_attribute_name(:note) + ':'
  br
  = @registration.note

= link_to t('.back', :default => t("helpers.links.back")), registrations_path, :class => 'btn btn-default'
'
= link_to t('.edit', :default => t("helpers.links.edit")), edit_registration_path(@registration), :class => 'btn btn-default'
'
= link_to t('.destroy', :default => t("helpers.links.destroy")), registration_path(@registration), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
