.signin.container.bg-white.rounded.pb-3
  .row.text-center.py-2.pt-5
    h3.col= t 'user.update_profile'
  = form_for @user, url: '/update_profile', html: { class: 'pt-2' } do |f|
    - if I18n.locale == :ru
      .form-floating.mb-3
        = f.text_field :last_name, class: 'form-control'
        label= t 'user.placeholder.last_name'
        = form_error @user, :last_name
      .form-floating.mb-3
        = f.text_field :first_name, class: 'form-control'
        label= t 'user.placeholder.first_name'
        = form_error @user, :first_name
      .form-floating.mb-3
        = f.text_field :second_name, class: 'form-control'
        label= t 'user.placeholder.second_name'
        = form_error @user, :second_name
    - else
      .form-floating.mb-3
        = f.text_field :first_name, class: 'form-control'
        label= t 'user.placeholder.first_name'
        = form_error @user, :first_name
      .form-floating.mb-3
        = f.text_field :last_name, class: 'form-control'
        label= t 'user.placeholder.last_name'
        = form_error @user, :last_name

    .form-floating.mb-3
      = f.text_field :email, class: 'form-control'
      label = t 'user.placeholder.email'
      = form_error @user, :email
    .form-floating.mb-3
      = react_component 'user/PhoneField',
        name: 'user[phone]',
        value: @user.phone,
        label: User.human_attribute_name(:phone)
      = form_error @user, :phone

    .input-group
      input.btn.btn-outline-primary.mx-auto type="submit" value="#{t 'save'}"
