.signin.container.bg-white.rounded
  .row.text-center.py-2
    h2= t '.title'
  .row
    = simple_form_for resource,
      as: resource_name,
      url: password_path(resource_name),
      html: { method: :put } do |f|
        = f.input :reset_password_token, as: :hidden
        = f.error_notification

        .form-floating.mb-3
          = f.password_field :password, class: 'form-control',
            required: true, autofocus: true
          label = t 'user.placeholder.new_password'
          = form_error resource, :password
        .form-floating.mb-3
          = f.password_field :password_confirmation, class: 'form-control',
            required: true
          label = t 'user.placeholder.password_confirmation'
          = form_error resource, :password
        .input-group
          input.btn.btn-outline-primary.mx-auto type="submit" value="#{t 'send'}"
  .row.pt-5
    .col.text-center.mb-3
      - if devise_mapping.registerable? && controller_name != 'registrations'
        i= t 'devise.has_no_account_html', url: signup_path
      br
      i= t 'devise.has_account_html', url: signin_path
