.signin.container.bg-white.rounded
  .row.text-center.py-2
    h2= t '.title'
  .row
    = simple_form_for resource,
      as: resource_name,
      url: password_path(resource_name),
      html: { method: :post } do |f|
        = f.error_notification

        .form-floating.mb-3
          = f.text_field :email, class: 'form-control',
            required: true, autofocus: true,
            input_html: { autocomplete: "email" }
          label = t 'user.placeholder.email'
          = form_error resource, :email
        .input-group
          input.btn.btn-outline-primary.mx-auto type="submit" value="#{t 'send'}"
  .row.pt-5
    .col.text-center.mb-3
      - if devise_mapping.registerable? && controller_name != 'registrations'
        i= t 'devise.has_no_account_html', url: signup_path
      br
      i= t 'devise.has_account_html', url: signin_path
