- dog = registration.dog
- catalog_number = 'XXX' unless defined?(catalog_number)
.dog
  =  form_with model: registration, html: { class: 'form-inline' } do |f|
    h3.text-center
      = "FCI #{dog.breed_obj.id} — #{dog.breed.mb_chars.titleize}"
    .row
      .col-sm-6.text-left
        i= dog.sex_text.capitalize
      .col-sm-6.text-right
        .input-group
          .input-group-prepend
            .input-group-text
              = "#{Registration.human_attribute_name(:show_class)}:"
        - show_classes = Registration.show_class.options
        = f.select :show_class, show_classes, include_blank: true, class: 'form-control'
        = f.hidden_field :dog_id
        = f.hidden_field :user_id
        = f.hidden_field :event_id

    .row
      .col-sm-1
        = "#{catalog_number || 'XXX'}."
      .col-sm-11
        = "#{dog.name.mb_chars.titleize}, (#{dog.color}), #{dog.document}, #{l dog.date_of_birth} "
        = "#{t '.breeder_title'}: #{dog.breeder}, (#{dog.father_name} x #{dog.mother_name}), "
        = "#{t '.owner_title'}: #{dog.owner}"
    .row
      .col-sm-12.text-right
        = f.submit :save
