= form_for @registration do |f|
  - if @registration.errors.any?
    #error_explanation
      h2 = "#{pluralize(@registration.errors.count, "error")} prohibited this registration from being saved:"
      ul
        - @registration.errors.full_messages.each do |message|
          li = message

  .field
    = f.label :show_class
    = f.text_field :show_class
  .field
    = f.label :dog
    = f.text_field :dog
  .field
    = f.label :event
    = f.text_field :event
  .field
    = f.label :user
    = f.text_field :user
  .field
    = f.label :note
    = f.text_area :note
  .actions = f.submit
