h1 Listing registrations

table
  thead
    tr
      th Show class
      th Dog
      th Event
      th User
      th Note
      th
      th
      th

  tbody
    - @registrations.each do |registration|
      tr
        td = registration.show_class
        td = registration.dog
        td = registration.event
        td = registration.user
        td = registration.note
        td = link_to 'Show', registration
        td = link_to 'Edit', edit_registration_path(registration)
        td = link_to 'Destroy', registration, data: { confirm: 'Are you sure?' }, method: :delete

br

= link_to 'New Registration', new_registration_path
