p#notice = notice

p
  strong Show class:
  = @registration.show_class
p
  strong Dog:
  = @registration.dog
p
  strong Event:
  = @registration.event
p
  strong User:
  = @registration.user
p
  strong Note:
  = @registration.note

=> link_to 'Edit', edit_registration_path(@registration)
'|
=< link_to 'Back', registrations_path
