= form_for @event, html: { class: "form form-horizontal event" } do |f|
  .form-group
    = f.label :name, :class => 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :name, :class => 'form-control'
    = f.error_span(:name)
  .form-group
    = f.label :short_name, :class => 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :short_name, :class => 'form-control'
    = f.error_span(:short_name)
  .form-group
    = f.label :starts_on, :class => 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :starts_on, :class => 'form-control'
    = f.error_span(:starts_on)
  .form-group
    = f.label :rank, :class => 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :rank, :class => 'form-control'
    = f.error_span(:rank)
  .form-group
    .col-lg-offset-2.col-lg-10
      = f.submit nil, :class => 'btn btn-primary'
      '
      = link_to t('.cancel', :default => t("helpers.links.cancel")), events_path, :class => 'btn'
