- model_class = Event
.page-header
  h1=t '.title'
table.table.table-striped
  thead
    tr
      th= model_class.human_attribute_name(:id)
      th= model_class.human_attribute_name(:name)
      th= model_class.human_attribute_name(:short_name)
      th= model_class.human_attribute_name(:starts_on)
      th= model_class.human_attribute_name(:rank)
      th= model_class.human_attribute_name(:created_at)
      th=t '.actions', :default => t("helpers.actions")
  tbody
    - @events.each do |event|
      tr
        td= link_to event.id, event_path(event)
        td== event.name
        td= event.short_name
        td= event.starts_on
        td= event.rank
        td=l event.created_at
        td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_event_path(event), :class => 'btn btn-default btn-xs'
          '
          = link_to t('.destroy', :default => t("helpers.links.destroy")), event_path(event), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger'

= link_to t('.new', :default => t("helpers.links.new")), new_event_path, :class => 'btn btn-primary'
