// Run this example by adding <%%= javascript_pack_tag 'hello_erb' %> to the head of your layout file,
// like app/views/layouts/application.html.erb. Don't forget to uncomment erb tag after adding it to your layout file.

<% name = 'Erb' %>

console.log('Hello world from <%= name %>')
console.log(I18n.t('activerecord.attributes.dog.breed'))
