= render 'layouts/today_events'
.signin.container.bg-white.rounded
  .row.text-center.py-2
    h3.col= t 'devise.sign_in'
  .row.social_buttons
    .col.text-center.pb-2
      = render 'devise/shared/omniauth'
  .row
    .col.or
      hr
      span= t 'or'
  form.pt-2 action="/users/sign_in" method="POST"
    = hidden_field_tag :authenticity_token, form_authenticity_token
    .form-floating.mb-3
      input.form-control type="text" name="user[email]" id='login' placeholder="#{t 'devise.login_placeholder'}"
      label = t 'devise.login_placeholder'
    .form-floating.mb-3
      input.form-control type="password" name="user[password]" placeholder="#{t 'devise.password'}"
      label = t 'devise.password'

    - if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
      .text-end.lh-sm
        small
          = link_to t('devise.forgot_password'), new_password_path(resource_name)
    .input-group.mb-3
      input.btn.btn-outline-primary type="submit" value="#{t 'devise.login'}"
  .row
    .col.text-center.mb-3
      - if devise_mapping.registerable? && controller_name != 'registrations'
        i= t 'devise.has_no_account_html', url: signup_path
