.signin
  max-width: 450px !important
  .social_buttons
    a
      padding: 5px
      img
        width: 30px
  .or
    position: relative
    span
      display: block
      position: absolute
      background-color: white
      top: 0em
      left: 50%
      padding: 3px
      margin-left: -1em;
      font-style: italic
      color: #999
