$custom-border-color: rgba(13, 110, 253, .25)
.react-tel-input
  input
    width: 100% !important
    height: calc(3.5rem + 2px) !important
    padding-left: 58px !important
    padding-top: 1.625rem !important
    padding-bottom: .625rem !important
  .flag-dropdown
    padding-top: 1.625rem !important
    padding-bottom: .625rem !important
  .form-control:focus
    color: #212529 !important
    background-color: #fff !important
    border-color: #86b7fe !important
    outline: 0 !important
    box-shadow: 0 0 0 0.25rem $custom-border-color !important
  .flag-dropdown.open
    z-index: 5 !important
.form-floating .special-label
    position: absolute
    top: 0 !important
    left: 0 !important
    height: 100%
    padding: 1rem .75rem !important
    pointer-events: none
    border: 1px solid transparent
    transform-origin: 0 0
    transition: opacity .1s ease-in-out,transform .1s ease-in-out
    opacity: .65
    transform: scale(.85) translateY(-.5rem) translateX(.15rem)
    display: inline-block
    font-size: 1rem !important
    background: transparent !important
