html
  //background: rgb(20,80,105)
  //background: linear-gradient(319deg, rgba(20,80,105,1) 0%, rgba(31,130,40,1) 55%, rgba(191,233,96,1) 100%)
  height: 100%
body
  background-color: transparent !important
  margin: auto !important
  .custom-container
    max-width: 900px !important
a:hover
  background-color: transparent
a.reactive
  text-decoration: underline dotted
  font-style: italic
.show-class-label
  line-height: 1
  .MuiRadio-root
    padding-top: 0
.paper-wanted
  .MuiCheckBox-root
    padding-top: 0
.error, .alert, .notice, .success, .info
  padding: 20px
  margin-bottom: 1em
  color: white
  background-color: #2196f3
.alert, .error
  background-color: #f44336
.success
  background-color: #4CAF50
.notice
  // background-color: #ff9800
  background-color: #4CAF50
.closebtn
  margin-left: 15px
  color: white
  font-weight: bold
  float: right
  font-size: 22px
  line-height: 20px
  cursor: pointer
  transition: 0.3s
.closebtn:hover
  color: black
.disabled
  color: black
  opacity: 0.4
.registration-list
  .dog-item
    width: 100%
  .breed-title
    h3
      margin-bottom: 0
.dog-info
  h5
    margin-bottom: 0
  .dog-infos
    >span:not(:last-child):after
      content: ", "
    .reg-list-dog-doc::before
      content: '['
    .reg-list-dog-doc::after
      content: ']'
  .dog-infos
    line-height: 1.2
    font-size: 90%
    font-style: italic
  .persons-infos
    line-height: 1.2
    opacity: 0.6
    &:hover
      opacity: 1
    .section
      font-size: 75%
    span
      white-space: nowrap
  .comment
    font-size: 75%
    opacity: 0.7
    .fa
      opacity: 0.4
button:focus
  outline: none
  opacity: 0.8
.showclass-options
  z-index: 5
input.clean
  border: none
  width: 100%
select.clean
  background: transparent
  border: none
.registration-item
  &.deleted
    .title, .actions, .notes
      opacity: 0.5
  .actions > *
    margin-right: 5px
  .note-text
    font-size: 80%

.price-form-wrapper
  margin-left: -20px
  margin-top: -20px
  .price-form
    padding: 20px
.price-field
  .price
    text-align: right
    width: 70px
.catalog
  h1, h2, h3, h4
    text-align: center
  h2, h3, h4
    margin-top: 40px
  h2 + h3
    margin-top: 5px
  h3 + h4
    margin-top: 5px
  h5.gender
    margin-top: 20px
  h3 + h5.gender, h4 + h5.gender
    margin-top: 0
  .show_class
    text-align: right
  .gender
  .registration-item
    .title
      display: none
  .dog_and_reg + .gender_and_showclass
    padding-top: 20px

  .dog_and_reg + .dog_and_reg
    margin-top: 20px
  .catalog-number
    width: 30px
    &.virtual
      opacity: 0.5
.qr-code
  display: block
  width: 75px

.doc-preview
  width: 200px
  height: 200px
  background-size: contain
  background-repeat: no-repeat
  background-position: center
  display: flex
.doc-preview__empty
  align-items: center
  justify-content: center
  background-color: #888
.doc-preview__real
  align-items: flex-end
  justify-content: flex-end
.payments_page
  td.payment_requisites
    vertical-align: top

.prices-form
  .prices-date
    .MuiInputAdornment-positionEnd
      margin-left: 0 !important
      .MuiIconButton-root
        padding: 0
  .lock-icon
    opacity: 0.1
  .row.highlight
    opacity: 1
  .row.regular
    opacity: 0.4

.hl-off
  animation-name: opacity-off
  animation-duration: 0.5s
  opacity: 0.3
.hl, .hl-on
  animation-name: opacity-on
  animation-duration: 0.3s
  opacity: 1

.date-calendar-page
  .day, .month
    line-height: 100%
  .month
    font-style: italic
.event-club-title
  .club-name
    margin-top: 17px
  a
    margin-right: 10px
.clipboard
  margin: auto 10px 
   

#main-menu
  a.nav-link
    .badge
      font-size: 0.5em !important
      padding: .15em .40em !important
      margin-left: 3px
      margin-top: 6px
a.check-img
  white-space: nowrap
table.admin_events
  td.actions
    a
      margin: auto 5px   

@keyframes opacity-off
  0% 
    opacity: 1
  100% 
    opacity: 0.3

@keyframes opacity-on
  0% 
    opacity: 0.3
  100% 
    opacity: 1
