.payments_page
  h1.pb-5= t '.title'
  - @registrations.group_by { |r| r.event.starts_on }.each do |date, regs|
    - regs.group_by{|i| i.event.club }.each do |club, regs|
      h2= club.name
      table.table
        thead
          tr
            th= Dog.model_name.human
            th= Event.model_name.human
            th.text-center= t '.show_class'
            th.text-center= t '.price'
            th.text-center= t '.paid'
        tbody
          - prev_dog = nil
          - total_for_pay = {}
          - total_paid = {}
          - reg_ids_for_pay = []
          - regs.each do |reg|
            tr
              td
                - if reg.dog != prev_dog
                  = reg.dog.name
                  - prev_dog = reg.dog
              td== reg.event.name
              td.text-center= reg.show_class_text
              td.text-end
                = humanized_money reg.price
                '
                = reg.price.currency.to_s
                - target_total = reg.paid? ? total_paid : total_for_pay
                - unless reg.price.zero?
                  - target_total[reg.price.currency.to_sym] ||= 0
                  - target_total[reg.price.currency.to_sym] += reg.price
                  - reg_ids_for_pay << reg.id unless reg.paid?
              td.text-center
                - if reg.paid_at
                  .fas.fa-check-circle.text-success title=l(reg.paid_at)
          tfoot
            - if total_paid.any?
              tr.total_for_pay.table-success
                td
                td
                td.text-end
                  = t '.total_paid'
                  ':
                td.text-end
                  - total_paid.each do |currency, value|
                    = humanized_money value
                    '
                    = currency
                    br
                td

            ruby:
              pays =
                current_user.payments.where(club_id: club.id, events_starts_on: date)
                  .select { |pay| pay.check_img.attached? }
            - if pays.any?
              tr.table-success
                td
                td.align-top.text-end colspan=2
                  - unless regs.all?(&:paid?)
                    small.text-black-50
                      i
                        = t '.in_processing'
                td.text-end
                  - pays.each do |pay|
                    = link_to rails_blob_path(pay.check_img) do
                      = t('.check_with_id', id: pay.id)
                    br
                td
            - if total_for_pay.any?
              tr.total_for_pay.table-warning
                td.payment_requisites colspan=2 rowspan=2
                  pre
                    = club.payment_requisites
                td.text-end
                  = t '.total_for_pay'
                  ':
                td.text-end
                  strong
                    - total_for_pay.each do |currency, value|
                      = humanized_money value
                      '
                      = currency
                      br
                td
              tr.table-warning
                td.text-end colspan=2
                  ruby:
                    payment = Payment.new(
                      club: club,
                      events_starts_on: date,
                      registration_ids: reg_ids_for_pay
                    )
                  = react_component 'PaymentCheckUploader', payment: payment.as_json, label: 'Отправить чек'
                    date: date.to_s
                  - if false
                    form
                      label Чек об оплате
                      input type='file'
                      input type='submit'
                td
