- dog = registration.dog
.container
  .row
    .col
      h5 = dog.name
      small
        i
          = Dog.human_attribute_name :breeder
          | : #{dog.breeder}
        br
        i
          = Dog.human_attribute_name :owner
          | ": #{dog.owner}
    .col
      - dog.registrations.each do |reg|
        .row
          .col
            == reg.event.name
        .row
          .col
            = reg.show_class
          .col
            | 30$
            input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"
          .col
            input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"
        .row
          .col
            i
              p = reg.note
