sass:
  body .custom-container
    max-width: 1200px !important
h1 = t '.title'
.events
  - @events.each do |event|
    .me-auto.mb-4
      .fw-bold== event.name
      - regs = event.registrations.exists
      - dogs_count = regs.count
      - paid_count = regs.paid.count
      = "#{I18n.t 'dogs_count', count: dogs_count} / #{paid_count} оплачено"
      - regs.group(:price_currency).pluck(:price_currency).each do |currency|
        br
        - total_amount = regs.where(price_currency: currency).sum(:price_cents)
        - paid_amount = regs.paid.where(price_currency: currency).sum(:price_cents)
        = t '.totals',
          total: "#{total_amount/100.0} #{currency}",
          paid:  "#{paid_amount/100.0} #{currency}"
      i.ps-3
        - if event.printable_catalog.attached?
          = link_to rails_blob_path(event.printable_catalog) do
            | каталог.docx
          '  |
          '
          = link_to diploms_admin_event_catalog_path(event) do
            | Дипломы
          '  |
          = link_to cards_admin_event_catalog_path(event) do
            | Карточки
          - if event.printable_catalog_with_prices.attached?
            '  |
            '
            = link_to rails_blob_path(event.printable_catalog_with_prices) do
              | каталог_оплаты.docx
          - if event.registrations.additional_list.any?
            br
            .additional style="padding-left: 100px;"
              = link_to additional_list_admin_event_catalog_path(event, additional: true) do
                | Доп. список ( #{I18n.t 'dogs_count', count: event.registrations.additional_list.exists.count} )
              '  |
              '
              = link_to diploms_admin_event_catalog_path(event, additional: true) do
                | Доп. Дипломы
              '  |
              = link_to cards_admin_event_catalog_path(event, additional: true) do
                | Доп. Карточки
              ' 
= react_component 'RegistrationList/index',
  source: admin_registrations_path(format: :json, event_ids: params[:event_ids])
- #  render partial: 'registration', collection: @registrations
