- current_group = nil
- @dog_registrations.group_by {|dog| dog.breed_obj}.each do |breed_obj, dogs|
  - if current_group != breed_obj.group
    - current_group = breed_obj.group
    h2.text-center= t "groups.#{breed_obj.group}"
  h3.text-center= breed_obj.catalog_title
  - dogs.each do |dog|
    .row.pb-3
      .dog.col-5
        strong
          | #{dog.name.mb_chars.strip.titleize}
        br
        span.nowrap
          |  #{dog.sex_text},
        - if dog.color && dog.color.match?('[a-яА-Я a-zA-z]')
          span.nowrap
            |  #{dog.color.strip}
        br
        span.nowrap
          |  #{dog.human_document},
        span
          |  #{l dog.date_of_birth}
        - if false
          br
          - if dog.father_name.present? && dog.mother_name.present?
            span
             |  (#{dog.father_name.strip} x #{dog.mother_name.strip}),
          - elsif dog.father_name.present? || dog.mother_name.present?
            span
             |  (#{dog.father_name.strip}#{dog.mother_name.strip}),

        br
        - if dog.breeder.present?
          span
            |  #{t 'shared.catalogs.dog.breeder_title'}: #{dog.breeder.strip},
        - if dog.owner.present?
          span
            |  #{t 'shared.catalogs.dog.owner_title'}: #{dog.owner.strip}
      .col-7
        table.table
          - dog.registrations.sort_by(&:id).each do |reg|
            - event = reg.event
            tr
              td style="width: 35%"
                = event.short_name
              td style="width: 5%"
                strong= "##{reg.catalog_number}"
              td.text-center style="width: 30%"
                = "[#{reg.show_class_short}]"
              td.text-end style="width: 20%"
                = reg.human_price
              td.text-end style="width: 10%"
                span.px-1
                  - if reg.paid?
                    i.bi.bi-check-square-fill
                  - else
                    i.bi.bi-square

