- content_for :title, 'Информация для клубов'
.alert.alert-info role="alert"
  h1 Online registraion on dog shows
  p From 2023 Belarussian Kennel Association requires registion through they own (not so beuterfull) site. So this project is closed, but I can adapt website for rules of your country and translate all data to provide the service anywhere. Or m.b. I can help you with other web-projects. My contact data in the footer or just mail me: admin@mydog.show
  | С 2023 года БКО сделала обязательной регистрацию через свой сайт. Сайт конечно не очень ;-), но что уж тут поделаешь. Поэтому проект закрыт.
.for_clubs
  h2.pt-4 Информация для клубов
  p
    | Сервис <a href="https://mydog.show" >MyDog.show</a> представляет собой форму онлайн-регистрации на выставки собак под эгидой FCI. Сервис автоматизирует процесс верски/набора каталога, а так же позволяет получить заполненные дипломы и карточки-описания к ним.
  p
    - clubs_count = Event.past.group(:club_id).pluck(:club_id).count
    | С помощью системы проведено #{t(:events_count, count: Event.past.count)}
    |  от #{t(:clubs_count, count: clubs_count)}. 
    |  Генерация каталога занимает считанные минуты: последние собаки могут быть
    |  добавлены буквально за 10 минут до отправки каталога в печать.
  p
    | Помимо того, что автоматизированный каталог ускоряет процесс создания каталога,
    |  дипломов и карточек-описаний и исключает человеческий фактор
    |  (ошибки при переносе данных в каталог), система позволяет экономить
    |  на количестве печатаемых каталогов, т.к. пользователи сами отмечают
    |  нужен ли бумажный каталог.
    |  Практика показала, что достаточное количество каталогов — 70% от количества регистраций. 
    |  Есть возможность распечатать отдельный "рабочий каталог" с отметками об оплате

  h2.pt-5 Как работает?
  h3 Участник выставки
  ol
    li.pb-3
      .row
        .col-lg-7
          | Заходит на сайт, регистрируется или выполняет вход через соц. сети(Google, Facebook, ВКонтакте).
    li.pb-3
      .row
        .col-lg-7
          p
            | Добавляет собаку в систему, если ее еще нет. Нужно указать данные из родословной.<br />
            | Поле выбора породы с поиском и автодополнением — не нужно бесконечно скролить в поисках породы.<br />
            | Оставить пустыми обязательные поля нельзя.<br />
            | Если собака уже была внесена в систему другим пользователем (А в системе уже более #{Dog.count.floor(-2)} собак),
            |  то достаточно внести первые 5 букв имени собаки и она будет найдена,
            |  а остальные данные автоматически заполнятся
        .col-lg-5
          figure.figure
            a href="/for_clubs/01-dog-form.png"
              img.border.border-2.rounded.img-fluid src='/for_clubs/01-dog-form.png'
            figcaption.figure-caption.text-end
              a href="/for_clubs/01-dog-form.png"
                | Форма регистрации, данные из родословной.
    li.pb-3
      .row
        .col-lg-7
          p
            | Выбирает классы на выставках,<br />указывает нужен бумажный каталог или нет,<br />может написать примечание.
        .col-lg-5
          figure.figure
            a href='/for_clubs/02-showclass-form.png'
              img.img-fluid.border.border-2.rounded src='/for_clubs/02-showclass-form.png'
            figcaption.figure-caption.text-end
              a href='/for_clubs/02-showclass-form.png' | Форма регистрации, выбор выставки/класса.
    li
      | Добавляет следующую собаку

  h3 Организатор выставки
  .row
    .col-lg-7
      p
        strong
          | На странице Регистрации
      p
        | Видит все регистрации на все свои выставки одним списком. Может указать размер и факт оплаты, отфильтровать оплаченные/неоплаченные, добавить свое примечание, поставить отметку выдан ли каталог или нет. А так же удалить регистрацию или изменить класс, если окончательный каталог для печати еще не сгенерирован.
      p Есть поиск по породе, кличке, владельцу/заводчику, телефону/email и по примечанию.
      p Можно добавить несколько администраторов.
    .col-lg-5
      figure.figure
        a href="/for_clubs/03-admin-registrations.png"
          img.img-fluid.border.border-2.rounded src="/for_clubs/03-admin-registrations.png"
        figcaption.figure-caption.text-end
          a href="/for_clubs/03-admin-registrations.png"
            | Админка, список регистраций.
  .row
    .col-lg-7
      p
        strong
          | На странице Каталог
      p
        | Видит регистрации в виде каталога — это удобно для распределения по классам, т.к. отображается только одна выставка. Виден возраст собаки. Доступны все опции для редактирования, как и на странице Регистрации.
    .col-lg-5
      figure.figure
        a href="/for_clubs/04-admin-catalog.png"
          img.img-fluid.border.border-2.rounded src="/for_clubs/04-admin-catalog.png"
        figcaption.figure-caption.text-end
          a href="/for_clubs/04-admin-catalog.png"
            | Админка, вид каталога.

  h2 Каталоги
  .row
    .col-lg-7
      p
        | Система генерирует каталоги для печати в формате docx (Ms Office). Необходимо только добавить листы с расписанием, рекламой, списком экспертов и стажеров, совместить каталоги в один файл, если выставок несколько. Отступы и прочие стили можно менять сразу для всего документа редактируя стиль списка/заголовка и т.д.
      p
        | Уточните в типографии, услугами которой вы пользуетесь, сколько времени необходимо для того, что бы распечатать и сшить каталог. Некоторые типографии могут это сделать за 3-4 часа, а это значит, что регистрацию вы можете закрыть всего лишь за 1 день до выставки. А принимать собак в доп. список можно влоть до начала самой выставки.
    .col-lg-5
      figure.figure
        a href="/for_clubs/all-breeds-catalog.docx"
          img.figure-img.img-fluid.rounded src="/for_clubs/all-breeds-catalog.jpg" alt="Каталог, выставка всех пород."
        figcaption.figure-caption.text-end
          a href="/for_clubs/all-breeds-catalog.docx"
            | Каталог docx, выставка всех пород.
  .row
    .col-lg-7
      p
        | Каталог учитывает разбивку пород по окрасу/типу шерсти если это предусмотрено рангом выставки.

      p
        | <a href="/catalogs">Онлайн-каталоги</a> с поиском по породе и кличке собаки становятся доступны для всех в назначенное время, например в момент открытия выставки.
    .col-lg-5
      figure.figure
        a href="/for_clubs/mono-5-group-catalog.docx"
          img.figure-img.img-fluid.rounded src="/for_clubs/mono-5-group-catalog.jpg" alt="Каталог моно 5 группы"
        figcaption.figure-caption.text-end
          a href="/for_clubs/mono-5-group-catalog.docx"
            | Каталог docx,<br />монопородная выставка 5 группы FCI.

  h2 Дипломы и карточки-описания
  .row
    .col
      p
        | Система генерирует страницы с заполненными дипломами и карточками
        | к ним — можно распечатывать прямо из браузера, или перевести в PDF.
        |  Так же реализована возможность создания двухстороннего диплома +
        | карточки-описания разложенного на лист A3 с метками для резки – 
        | от типографии не требуется никаких доп действий по верстке/раскладке,
        | а вы экономите время на скреплении листа-описания с дипломом.
        | Шаблоны будут изменены по вашим макетам.
  .row
    .col-4
      figure.figure
        a href="/for_clubs/diploms.pdf"
          img.figure-img.img-fluid.rounded src="/for_clubs/diplom.jpg" alt="Образец диплома"
        figcaption.figure-caption.text-end Образец диплома PDF.
    .col-8
      figure.figure.ps-5
        a href="/for_clubs/description-card.pdf"
          img.figure-img.img-fluid.rounded src="/for_clubs/description-card.jpg" alt="Образец карточки описания"
        figcaption.figure-caption.text-end Образец карточки описания PDF.
  .row
    .col-12
      figure.figure
        img.figure-img.img-fluid.rounded src="/for_clubs/diploms-and-cards.jpg" alt="Двухсторонний диплом + лист описания"
        figcaption.figure-caption.text-end Образец двухстороннего диплома с листом описания.
  h2.py-5.text-center
    .questions.mx-auto
      | Остались вопросы?
    .questions.mx-auto.d-block-inline
        i.fab.fa-viber.mx-1 style="color: #665CAC"
        i.fab.fa-telegram.mx-1 style="color: #0088cc"
        i.fab.fa-whatsapp.mx-1 style="color: #128C7E"
        br
        a href="tel:#{phone_for_url(Reqs.phone)}"= Reqs.phone

- if false
  | Образцы во вложениях.

  | Таким образом, используя систему:
  | экономия времени на заполнении дипломов и карточек
  | исключаете большое кол-во ошибок вызванных человеческим фактором
  | автоматизируем процесс по бесконечным правкам каталога, после добавления собаки.
  | позволяет сгенерировать каталог непосредственно перед отправкой в печать
  | а закрыть регистрацию чуть ли не в день выставки (доп. списки)
  | экономия на кол-ве каталогов
