const version = "0.0.54"
console.log("v" + version)
export const BREEDS = <%= BREED_LIST.to_json %>
export const BREED_COLORS = <%= Breed.colors_hash.to_json %>
export const BREED_LIST = <%= Breed.sorted_list(forced: true).to_json %>
export const BREED_HAIR_TYPES = <%= Breed.hair_types_hash.to_json %>

export const GROUPED_SHOW_CLASSES = <%= Registration.grouped_show_classes.to_json %>
export const AVAILABLE_CURRENCIES = <%= Registration::AVAILABLE_CURRENCIES.to_json %>
