p= t '.hello', name: @resource.fullname

p= t '.requested_change_password'
p
  = link_to t('.change_password'), edit_password_url(@resource, reset_password_token: @token)

p= t '.ignore'
p= t '.password_wont_change'
