= form_for @user, html: { class: "form form-horizontal user" } do |f|
  .form-group
    = f.label :first_name, :class => 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :first_name, :class => 'form-control'
    = f.error_span(:first_name)
  .form-group
    = f.label :second_name, :class => 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :second_name, :class => 'form-control'
    = f.error_span(:second_name)
  .form-group
    = f.label :last_name, :class => 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :last_name, :class => 'form-control'
    = f.error_span(:last_name)
  .form-group
    = f.label :phone, :class => 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :phone, :class => 'form-control'
    = f.error_span(:phone)
  .form-group
    = f.label :role, :class => 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :role, :class => 'form-control'
    = f.error_span(:role)
  .form-group
    = f.label :email, :class => 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :email, :class => 'form-control'
    = f.error_span(:email)
  .form-group
    = f.label :encrypted_password, :class => 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :encrypted_password, :class => 'form-control'
    = f.error_span(:encrypted_password)
  .form-group
    = f.label :reset_password_token, :class => 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :reset_password_token, :class => 'form-control'
    = f.error_span(:reset_password_token)
  .form-group
    = f.label :reset_password_sent_at, :class => 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :reset_password_sent_at, :class => 'form-control'
    = f.error_span(:reset_password_sent_at)
  .form-group
    = f.label :remember_created_at, :class => 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :remember_created_at, :class => 'form-control'
    = f.error_span(:remember_created_at)
  .form-group
    = f.label :current_sign_in_at, :class => 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :current_sign_in_at, :class => 'form-control'
    = f.error_span(:current_sign_in_at)
  .form-group
    = f.label :last_sign_in_at, :class => 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :last_sign_in_at, :class => 'form-control'
    = f.error_span(:last_sign_in_at)
  .form-group
    = f.label :current_sign_in_ip, :class => 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :current_sign_in_ip, :class => 'form-control'
    = f.error_span(:current_sign_in_ip)
  .form-group
    = f.label :last_sign_in_ip, :class => 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :last_sign_in_ip, :class => 'form-control'
    = f.error_span(:last_sign_in_ip)
  .form-group
    = f.label :confirmation_token, :class => 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :confirmation_token, :class => 'form-control'
    = f.error_span(:confirmation_token)
  .form-group
    = f.label :confirmed_at, :class => 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :confirmed_at, :class => 'form-control'
    = f.error_span(:confirmed_at)
  .form-group
    = f.label :confirmation_sent_at, :class => 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :confirmation_sent_at, :class => 'form-control'
    = f.error_span(:confirmation_sent_at)
  .form-group
    = f.label :unconfirmed_email, :class => 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :unconfirmed_email, :class => 'form-control'
    = f.error_span(:unconfirmed_email)
  .form-group
    = f.label :failed_attempts, :class => 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :failed_attempts, :class => 'form-control'
    = f.error_span(:failed_attempts)
  .form-group
    = f.label :unlock_token, :class => 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :unlock_token, :class => 'form-control'
    = f.error_span(:unlock_token)
  .form-group
    = f.label :locked_at, :class => 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :locked_at, :class => 'form-control'
    = f.error_span(:locked_at)
  .form-group
    .col-lg-offset-2.col-lg-10
      = f.submit t('save'), :class => 'btn btn-primary'
      '
      = link_to t('.cancel', :default => t("helpers.links.cancel")), users_path, :class => 'btn'
