- model_class = User
.page-header
  h1=t '.title'

form.d-flex action="" method="GET" id="search_form"
  .input-group
    .form-outline
      input.form-control type="search" name="search" value="#{params[:search]}"
    button.btn.btn-primary type="submit" for="search_form"
      i.bi.bi-search
  .form-check
    = hidden_field_tag :with_role, false
    = check_box_tag :with_role, true, params[:with_role] != 'false', class: 'form-check-input'
    label.form-check-label.text-nowrap
      = t '.with_role'

table.table.table-striped
  thead
    tr
      th= model_class.human_attribute_name(:first_name)
      th= model_class.human_attribute_name(:email)
      th= model_class.human_attribute_name(:phone)
      th= model_class.human_attribute_name(:role)
      th
  tbody
    - @users.each do |user|
      tr
        td
          = link_to edit_admin_user_path(user), class: 'm-1' do
            = user.fullname
        td= user.email
        td= user.phone
        td
          - user.roleable_clubs.each do |club|
            = club.name
            br
          - user.roleable_events.each do |event|
            = "#{l event.starts_on, format: :human} #{event.club.name} #{event.short_name}"
            br
        td.actions.text-center
          = link_to masquerade_path(user), class: 'm-1' do
            i.bi.bi-people-fill
          '
          - if false
            = link_to admin_user_path(user), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) } do
              i.bi.bi-trash-fill
