- model_class = User
.page-header
  h1=t '.title', :default => model_class.model_name.human.titleize

p
  strong= model_class.human_attribute_name(:first_name) + ':'
  br
  = @user.first_name
p
  strong= model_class.human_attribute_name(:second_name) + ':'
  br
  = @user.second_name
p
  strong= model_class.human_attribute_name(:last_name) + ':'
  br
  = @user.last_name
p
  strong= model_class.human_attribute_name(:phone) + ':'
  br
  = @user.phone
p
  strong= model_class.human_attribute_name(:role) + ':'
  br
  = @user.role
p
  strong= model_class.human_attribute_name(:email) + ':'
  br
  = @user.email
p
  strong= model_class.human_attribute_name(:encrypted_password) + ':'
  br
  = @user.encrypted_password
p
  strong= model_class.human_attribute_name(:reset_password_token) + ':'
  br
  = @user.reset_password_token
p
  strong= model_class.human_attribute_name(:reset_password_sent_at) + ':'
  br
  = @user.reset_password_sent_at
p
  strong= model_class.human_attribute_name(:remember_created_at) + ':'
  br
  = @user.remember_created_at
p
  strong= model_class.human_attribute_name(:current_sign_in_at) + ':'
  br
  = @user.current_sign_in_at
p
  strong= model_class.human_attribute_name(:last_sign_in_at) + ':'
  br
  = @user.last_sign_in_at
p
  strong= model_class.human_attribute_name(:current_sign_in_ip) + ':'
  br
  = @user.current_sign_in_ip
p
  strong= model_class.human_attribute_name(:last_sign_in_ip) + ':'
  br
  = @user.last_sign_in_ip
p
  strong= model_class.human_attribute_name(:confirmation_token) + ':'
  br
  = @user.confirmation_token
p
  strong= model_class.human_attribute_name(:confirmed_at) + ':'
  br
  = @user.confirmed_at
p
  strong= model_class.human_attribute_name(:confirmation_sent_at) + ':'
  br
  = @user.confirmation_sent_at
p
  strong= model_class.human_attribute_name(:unconfirmed_email) + ':'
  br
  = @user.unconfirmed_email
p
  strong= model_class.human_attribute_name(:failed_attempts) + ':'
  br
  = @user.failed_attempts
p
  strong= model_class.human_attribute_name(:unlock_token) + ':'
  br
  = @user.unlock_token
p
  strong= model_class.human_attribute_name(:locked_at) + ':'
  br
  = @user.locked_at

= link_to t('.back', :default => t("helpers.links.back")), users_path, :class => 'btn btn-default'
'
= link_to t('.edit', :default => t("helpers.links.edit")), edit_user_path(@user), :class => 'btn btn-default'
'
= link_to t('.destroy', :default => t("helpers.links.destroy")), user_path(@user), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
