- url = 'https://mydog.show'
h1 Политика конфиденциальности
h2 1. ОПРЕДЕЛЕНИЕ ТЕРМИНОВ
p 1.1. В настоящей Политике конфиденциальности используются следующие термины:
p
  | 1.1.1.«Администрация сайта» — уполномоченные сотрудники управления сайтом,
  | которые организуют и (или) осуществляет обработку персональных данных,
  | а также определяет цели обработки персональных данных,
  | состав персональных данных, подлежащих обработке, действия (операции),
  | совершаемые с&nbsp;персональными данными.
p
  | 1.1.2. «Персональные данные» — любая информация, относящаяся к прямо
  | или косвенно определенному или определяемому физическому лицу
  | (субъекту персональных данных).
p
  | 1.1.3. «Обработка персональных данных» — любое действие (операция)
  | или совокупность действий (операций), совершаемых с использованием средств
  | автоматизации или без использования таких средств с персональными данными,
  | включая сбор, запись, систематизацию, накопление, хранение,
  | уточнение (обновление, изменение), извлечение, использование,
  | передачу (распространение, предоставление, доступ), обезличивание,
  | блокирование, удаление, уничтожение персональных данных.
p
  | 1.1.4. «Конфиденциальность персональных данных» —
  | обязательное для соблюдения Оператором или иным получившим доступ
  | к персональным данным лицом требование не допускать их распространения без
  | согласия субъекта персональных данных или наличия иного законного основания.
p
  | 1.1.5. «Пользователь сайта #{url}» — лицо, имеющее доступ к Сайту,
  | посредством сети Интернет и&nbsp;использующее его.
h2 2. ОБЩИЕ ПОЛОЖЕНИЯ
p
  | 2.1. Использование Пользователем сайта #{url} означает согласие с настоящей
  | Политикой конфиденциальности
  | и&nbsp;условиями обработки персональных данных Пользователя.
p
  | 2.2. В&nbsp;случае несогласия с&nbsp;условиями Политики конфиденциальности
  | Пользователь должен прекратить использование сайта #{url}.
p
  | 2.3. Администрация сайта не&nbsp;проверяет достоверность персональных
  | данных, предоставляемых Пользователем сайта #{url}.
h2 3. ПРЕДМЕТ ПОЛИТИКИ КОНФИДЕНЦИАЛЬНОСТИ
p
  | 3.1. Настоящая Политика конфиденциальности устанавливает обязательства
  | Администрации сайта по&nbsp;неразглашению и&nbsp;обеспечению режима защиты
  | конфиденциальности персональных данных, которые Пользователь предоставляет
  | по&nbsp;запросу Администрации сайта при регистрации на&nbsp;сайте,
  | при использовании лицом любых сервисов сайта, в&nbsp;т.&nbsp;ч.
  | форм обратной связи и&nbsp;т.&nbsp;п.,
  | а&nbsp;также при оформлении заказа услуги.
p
  | 3.2. Персональные данные, разрешённые к&nbsp;обработке в&nbsp;рамках
  | настоящей Политики конфиденциальности, предоставляются Пользователем путём
  | заполнения форм на&nbsp;Сайте #{url}
p
  | 3.2.1. фамилию, имя, отчество Пользователя;
p
  | 3.2.2. контактный телефон Пользователя;
p
  | 3.2.3. адрес электронной почты (e-mail);
p
  | 3.2.4. адрес электронной почты (e-mail);
p
  | 3.3. Данные о собаках не являются конфиденциальными и
  | будут открыты для публичного доступа в момент публикации каталога выставок;
h2 4. ЦЕЛИ СБОРА ПЕРСОНАЛЬНОЙ ИНФОРМАЦИИ ПОЛЬЗОВАТЕЛЯ
p
  | 4.1. Персональные данные Пользователя Администрация сайта #{url}
  | может использовать в&nbsp;целях:
p
  | 4.1.1. Идентификации Пользователя, зарегистрированного на&nbsp;сайте,
  | для записи на&nbsp;выставки собак в&nbsp;режиме он-лайн.
p
  | 4.1.2. Установления с&nbsp;Пользователем обратной связи,
  | включая направление уведомлений, запросов, касающихся использования Сайта,
  | оказания услуг, обработка запросов и&nbsp;заявок от&nbsp;Пользователя.
p
  | 4.1.3. Предоставления Пользователю с&nbsp;его согласия, обновлений услуг,
  | специальных предложений, информации о&nbsp;ценах,
  | новостной рассылки и&nbsp;иных сведений.
p 4.1.4. Осуществления рекламной деятельности с&nbsp;согласия Пользователя.
h2 5. СПОСОБЫ И&nbsp;СРОКИ ОБРАБОТКИ ПЕРСОНАЛЬНОЙ ИНФОРМАЦИИ
p
  | 5.1. Обработка персональных данных Пользователя осуществляется
  | без ограничения срока, любым законным способом, в&nbsp;том числе
  | в&nbsp;информационных системах персональных данных с&nbsp;использованием
  | средств автоматизации или без использования таких средств.
p
  | 5.2. Персональные данные Пользователя могут быть переданы уполномоченным
  | органам государственной власти Республики Беларусь только по&nbsp;основаниям
  | и&nbsp;в&nbsp;порядке, установленным законодательством Республики Беларусь.
p
  | 5.3. При утрате или разглашении персональных данных Администрация сайта
  | информирует Пользователя об&nbsp;утрате или разглашении персональных данных.
p
  | 5.4. Администрация сайта принимает необходимые организационные
  | и&nbsp;технические меры для защиты персональной информации Пользователя
  | от&nbsp;неправомерного или случайного доступа, уничтожения, изменения,
  | блокирования, копирования, распространения, а&nbsp;также от&nbsp;иных
  | неправомерных действий третьих лиц.
h2 6. ОБЯЗАТЕЛЬСТВА СТОРОН
p 6.1. Пользователь обязан:
p
  | 6.1.1. Предоставить информацию о&nbsp;персональных данных,
  | необходимую для пользования Сайтом #{url}
p
  | 6.1.2. Обновить, дополнить предоставленную информацию о&nbsp;персональных
  | данных в&nbsp;случае изменения данной информации.
p 6.2. Администрация сайта обязана:
p
  | 6.2.1. Использовать полученную информацию исключительно для целей,
  | указанных в&nbsp;п.&nbsp;4&nbsp;настоящей Политики конфиденциальности.
p
  | 6.2.2. Обеспечить хранение конфиденциальной информации в&nbsp;тайне,
  | не&nbsp;разглашать без предварительного письменного разрешения Пользователя,
  | а&nbsp;также не&nbsp;осуществлять продажу, обмен, опубликование,
  | либо разглашение иными возможными способами переданных персональных
  | данных Пользователя, за&nbsp;исключением&nbsp;п.&nbsp;п.&nbsp;5.2.
  | настоящей Политики Конфиденциальности.
p
  | 6.2.3. Принимать меры предосторожности для защиты конфиденциальности
  | персональных данных Пользователя согласно порядку, обычно используемого
  | для защиты такого рода информации в&nbsp;существующем деловом обороте.
p
  | 6.2.4. Осуществить блокирование персональных данных,
  | относящихся к&nbsp;соответствующему Пользователю, с&nbsp;момента обращения
  | или запроса Пользователя или его законного представителя
  | либо уполномоченного органа по&nbsp;защите прав субъектов
  | персональных данных на&nbsp;период проверки, в&nbsp;случае выявления
  | недостоверных персональных данных или неправомерных действий.
h2 7. ОТВЕТСТВЕННОСТЬ СТОРОН
p
  | 7.1. Администрация сайта, не&nbsp;исполнившая свои обязательства,
  | несёт ответственность за&nbsp;убытки, понесённые Пользователем в&nbsp;связи
  | с&nbsp;неправомерным использованием персональных данных, в&nbsp;соответствии
  | с&nbsp;законодательством Российской Федерации, за&nbsp;исключением случаев,
  | предусмотренных&nbsp;п.&nbsp;п.&nbsp;5.2.
  | настоящей Политики Конфиденциальности.
p
  | 7.2. В&nbsp;случае утраты или разглашения Конфиденциальной информации
  | Администрация сайта не&nbsp;несёт ответственность,
  | если данная конфиденциальная информация:
p
  | 7.2.1. Стала публичным достоянием до&nbsp;её&nbsp;утраты или разглашения.
p
  | 7.2.2. Была получена от&nbsp;третьей стороны до&nbsp;момента
  | её&nbsp;получения Администрацией сайта.
p 7.2.3. Была разглашена с&nbsp;согласия Пользователя.
h2 8. РАЗРЕШЕНИЕ СПОРОВ
p
  | 8.1. До&nbsp;обращения в&nbsp;суд с&nbsp;иском по&nbsp;спорам, возникающим
  | из&nbsp;отношений между Пользователем сайта #{url}
  | и&nbsp;Администрацией сайта, обязательным является предъявление претензии
  | (письменного предложения о&nbsp;добровольном урегулировании спора).
p
  | 8.2.Получатель претензии в&nbsp;течение 30&nbsp;календарных дней со&nbsp;дня
  | получения претензии, письменно уведомляет заявителя претензии
  | о&nbsp;результатах рассмотрения претензии.
p
  | 8.3. При не&nbsp;достижении соглашения спор будет передан
  | на&nbsp;рассмотрение в&nbsp;судебный орган в&nbsp;соответствии
  | с&nbsp;действующим законодательством Республики Беларусь.
p
  | 8.4. К&nbsp;настоящей Политике конфиденциальности и&nbsp;отношениям между
  | Пользователем и&nbsp;Администрацией сайта применяется действующее
  | законодательство Республики Беларусь.
h2 9. ДОПОЛНИТЕЛЬНЫЕ УСЛОВИЯ
p
  | 9.1. Администрация сайта вправе вносить изменения в&nbsp;настоящую
  | Политику конфиденциальности без согласия Пользователя.
p
  | 9.2. Новая Политика конфиденциальности вступает в&nbsp;силу с&nbsp;момента
  | ее&nbsp;размещения на&nbsp;Сайте #{url}, если иное не&nbsp;предусмотрено
  | новой редакцией Политики конфиденциальности.
p
  | 9.3. Действующая Политика конфиденциальности размещена на&nbsp;странице
  | по&nbsp;адресу #{url}/private_policy.
h2 10. ФАЙЛЫ COOKIE
p
  strong Что такое файлы Cookie?
p
  | Файлы Cookie&nbsp;— это небольшие текстовые файлы, которые сохраняют
  | информацию на&nbsp;жестком диске вашего компьютера или в&nbsp;браузере,
  | с&nbsp;помощью которой мы&nbsp;можем узнать, что вы&nbsp;посетили
  | наш веб-сайт. Они помогают сохранять ваши предпочтения
  | на&nbsp;нашем веб-сайте. Файл cookie часто включает случайно генерируемый
  | номер, который сохраняется на&nbsp;вашем устройстве.
  | Многие файлы cookie автоматически удаляются после закрытия сайта.
p
  strong Использование файлов Cookie
p
  | На&nbsp;данном веб-сайте не&nbsp;сохраняется никакая информация,
  | с&nbsp;помощью которой мы&nbsp;могли&nbsp;бы идентифицировать отдельных
  | пользователей без их&nbsp;согласия. Любые файлы cookie на&nbsp;данном
  | веб-сайте используются только во&nbsp;время конкретной сессии или для
  | сохранения предпочтений пользователя.
  |Файлы сookie не&nbsp;передаются третьим сторонам.
