- if current_user && (current_user.roles.any? || current_user.superadmin?)
  img.mx-auto style="max-width: 100px" src="https://gitlab.com/ilp416/dogshowbooking/badges/master/pipeline.svg"
  .d-flex.flex-sm-column.flex-row.flex-nowrap.bg-light.align-items-center.sticky-top
    i.d-block.p-3.link-dark.text-decoration-none href="#" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Icon-only"
      i.bi-gear.h2
    ul.nav.nav-pills.nav-flush.flex-sm-column.flex-row.flex-nowrap.mb-auto.mx-auto.text-center.align-items-center
      - if false
        li.nav-item
          a.nav-link.py-3.px-2 href="#" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Club"
            i.bi-house.fs-1
      li.nav-item
        a.nav-link.py-3.px-2 href="/admin/registrations" title="Регистрации" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Регистрации"
          i.bi-ui-checks.fs-1

    - if current_user.superadmin?
      .dropdown
        a.d-flex.align-items-center.justify-content-center.p-3.text-decoration-none.dropdown-toggle href="#" id="catalogs-menu" data-bs-toggle="dropdown" title="Реги" aria-expanded="false"
          i.bi-ui-checks.fs-1
        ul.dropdown-menu.text-small.shadow aria-labelledby="dropdownUser3"
          - grouped_club_events.each do |date, club_name, event_ids|
            li
              a.dropdown-item href=admin_registrations_path(event_ids: event_ids)
                = "#{club_name} [#{date}]"
    .dropdown
      a.d-flex.align-items-center.justify-content-center.p-3.text-decoration-none.dropdown-toggle href="#" id="catalogs-menu" data-bs-toggle="dropdown" title="Каталоги" aria-expanded="false"
        i.bi-book.h2
      ul.dropdown-menu.text-small.shadow aria-labelledby="dropdownUser3"
        - adminable_events.each do |event|
          li
            a.dropdown-item href="/admin/events/#{event.id}/catalog"
              small
                b #{event.club.name}
                |  #{l event.starts_on, format: :human}
              i= " #{event.short_name}"

    - if current_user.superadmin?
      a.nav-link.py-3.px-2 href="#{admin_users_path}" title="Users" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Users"
            i.bi-people-fill.fs-1

    - if user_masquerade?
      a.nav-link.py-3.px-2 href="#{back_masquerade_path(current_user)}" title="Leave masquerade" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Leave masquerade"
            i.bi-person-x-fill.fs-1
