<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/609d183cb1d5182476b88a1c/1f5iqdb2m';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();

Tawk_API.onLoad = function(){
    Tawk_API.setAttributes({
      'id' : "<%= current_user&.id %>",
      'email' : "<%= current_user&.email %>",
    }, function(error){console.log(error)});
}

</script>
<!--End of Tawk.to Script-->
