- if today_events.present?
  h4.text-muted.fw-light
    | Сегодня:
  - today_events.each do |club_id, events|
    - main_event = events.first
    .today_registrations style='opacity: 0.7'
      .card.mb-5.shadow
        .card-title.title.d-flex
          = react_component('DateCalendarPage', date: main_event.starts_on)
          - info = { address: main_event.address, location: main_event.location }
          = react_component('Event/ClubTitle', club: Club.find(club_id), info: info)
        .registrations.border-top.px-3.py-2.pb-3
          - events.each do |event|
            h6.mb-1
              - hidden = event.catalog_hidden_for_all
              - hidden ||= (event.catalog_hidden_not_registered && !current_user)
              - hidden ||= event.catalog_published_at.future?
              - if hidden 
                == event.name
              - else
                = link_to catalog_path(event.id) do
                  == event.name
        
