doctype html
html lang="en"
  head
    meta charset="utf-8"
    meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"
    meta name="viewport" content="width=device-width, initial-scale=1.0"
    title= content_for?(:title) ? yield(:title) : "Mydogshow"
    = csrf_meta_tags
    link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous"
    link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous"
    script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"
    script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"
    link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap"
    link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"
    link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"

    - if false
      = favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144'
      = favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114'
      = favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72'
      = favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png'
      = favicon_link_tag 'favicon.ico', :rel => 'shortcut icon'
    = javascript_pack_tag 'application'
    /! Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"

  body
    .container-fluid
      .row
        .col-sm-auto.bg-light.sticky-top.p-0
          - if current_user.privileged?
            = render partial: 'layouts/admin_navbar'
        .col-sm.p-3.min-vh-100.p-0
          .container-fluid.container-lg.custom-container
            nav.navbar.navbar-expand-lg.navbar-static-top
              .container-fluid.container-lg
                a.fs-5.fw-bold.navbar-brand href="/"
                  | myDog
                  .fa.fa-dog
                  - # .fa.fa-trophy.fa-sm
                  | show
                button.navbar-toggler type="button" data-bs-toggle="collapse" data-bs-target="#main-menu"
                  .fas.fa-bars
                #main-menu.navbar-collapse.collapse
                  ul.nav.navbar-nav.ms-auto.mt-2
                    - # li.nav-item= link_to 'Добавить собаку', "/dogs/new", class: 'nav-link'
                    - if current_user
                      - if current_user.roles.any? || current_user.superadmin?
                        li.nav-item= link_to 'Регистрация', "/admin/registrations", class: 'nav-link'
                      li.nav-item= link_to 'Мои собаки', "/dogs", class: 'nav-link'
                      li.nav-item= link_to 'Профиль', "/update_profile", class: 'nav-link'
                      li.nav-item= link_to t('sign_out'), destroy_user_session_path, method: :delete, class: 'nav-link text-muted'
                    -# li= link_to t('sign_in'), new_user_session_path
                    -# li= link_to 'Каталог', catalog_path
                    - # li= link_to 'Собаки без породы и цвета', "/dogs?not_success=true"

            .container-fluid.bg-white.container-lg
              - flash.each do |key, value|
                .flash class="#{key}"
                  span.closebtn onclick="this.parentElement.style.display='none';" &times;
                  | #{value}
              .row
                .col-lg-12
                  = yield

              footer
