- today_events.each do |club_id, events|
  - main_event = events.first
  .today_registrations
    .card.mb-5
      .card-title.title.d-flex
        - info = { address: main_event.address, location: main_event.location }
        = react_component('Event/ClubTitle', club: Club.find(club_id), info: info)
      - events.each do |event|
      .registrations.border-top
        h6.mb-0
          - hidden = event.catalog_hidden_for_all
          - hidden ||= (event.catalog_hidden_not_registered && !current_user)
          - hidden ||= event.catalog_published_at.future?
          - if hidden 
            == event.name
          - else
            = link_to catalog_path(event.id) do
              == event.name
      
